[2015-11-17 14:21] mboussaa opened #2 "config option for prometheus service: 'container_name'"
still getting Unsupported config option for prometheus service: 'container_name'

[2015-11-17 15:25] vegasbrianc commented on #2
Thanks for finding that. It is fixed now. It appears the latest version of docker-compose doesn't support the container_name configuration and has been reverted back to just "name".

[2015-11-17 15:30] vegasbrianc commented on #2
oops still seems open. Will need to dive deeper as it broke one of the services now. Stay tuned...

[2015-11-17 15:32] mboussaa commented on #2
Actually I am trying to test according to the new updates

[2015-11-17 15:33] vegasbrianc commented on #2
the compose error is fixed but the problem now is up at the Prometheus service level

[2015-11-17 15:34] mboussaa commented on #2
You think we should use previous compose version to keep it working?

[2015-11-17 15:40] vegasbrianc commented on #2
It will work for sure on previous version. I think I will need a little time to fix it.

[2015-11-17 15:41] mboussaa commented on #2
in fact for which version of compose it works?

[2015-11-17 16:06] vegasbrianc commented on #2
need to catch my flight but I will have this up and running most likely tomorrow. Thanks for understanding.

[2015-11-17 16:07] mboussaa commented on #2
np

[2015-11-18 09:53] vegasbrianc commented on #2
OK should be working with latest compose version and latest Prometheus versions now. Let me know if you find anything else.

[2015-11-18 10:17] mboussaa commented on #2
![capture d ecran 2015-11-18 a 11 15 17](https://cloud.githubusercontent.com/assets/5878565/11238434/d4ae8894-8de5-11e5-918b-0336a616aa71.png)

root@f68kj:/prometheus# docker-compose --version
docker-compose version: 1.3.1
CPython version: 2.7.9
OpenSSL version: OpenSSL 1.0.1e 11 Feb 2013

root@f68kj:/prometheus# docker --version
Docker version 1.8.2, build 0a8c2e3

[2015-11-18 10:43] vegasbrianc commented on #2
I'm running the following:
Docker version 1.9.0, build 76d6bc9
docker-compose version: 1.5.1

I've removed names completely from the compose file so it should work for all versions.

[2015-11-18 10:43] #2 closed

[2015-11-18 15:29] mboussaa commented on #2
![prom](https://cloud.githubusercontent.com/assets/5878565/11245145/80e3d5ee-8e11-11e5-99c7-919bb67472d8.png)
Now getting this :(

[2015-11-18 15:57] vegasbrianc commented on #2
now try running:  docker-compose start
next run: docker-compose ps
all should be up except the DB.

Let me know.

[2015-11-18 16:09] vegasbrianc commented on #2
Ah ha. Also when you run the docker-compose up be sure to put -d at the end of the command so everything remains running.

[2015-11-19 11:34] vegasbrianc commented on #2
@mboussaa  Were you able to get this going?

[2015-11-19 13:16] caioquirino commented on #2
@mboussaa Your docker-compose stopped without any intervention? The sqlite3 container is an "config-only" container that just do the rake db:migrate and exits, like any data-only volume.

[2015-11-19 13:18] caioquirino commented on #2
@vegasbrianc If the sqlite3 exited with code 0, this is normal. The sqlite3 container is a config-only container and this sqlite3 database is not a daemon, the container only initiates the database file with rake:dbmigrate.

[2015-11-23 10:38] mboussaa commented on #2
+1 Actually it works however I could not get data
![prommm](https://cloud.githubusercontent.com/assets/5878565/11334646/b0c0720e-91d6-11e5-9248-ffab8b8baf53.png)

[2015-11-24 07:49] vegasbrianc commented on #2
Sent an email to gather more info.

[2015-12-22 15:03] mysterytree opened #3 "prometheus query"
Thanks for your share about docker monitoring.
Howerver when I use prometheus  to monitor container.
I can't draw the beautiful dash in promdash.This need prometheus query,isn't it?
I just want to show the basic cpu, memory and harddisk  consumem, but don't know how to write prom query .
Can you give me some examples?

[2015-12-22 20:33] vegasbrianc commented on #3
Hi @mysterytree Here are the queries I used to build the dashboards - https://github.com/vegasbrianc/prometheus/blob/master/dashboard_queries.txt Let me know if this works for you or if you have further questions. Here is also a link to the blog article - https://www.brianchristner.io/how-to-setup-prometheus-docker-monitoring/

[2015-12-22 20:33] #3 closed

[2015-12-23 02:09] mysterytree commented on #3
Thanks for your help.
Now I want to monitor cpu utilization rate.
So I execute the query
container_cpu_usage_seconds_total{name="registry"}
The result is

![image](https://cloud.githubusercontent.com/assets/6166794/11969928/ecc93c66-a95c-11e5-8f03-302f77cc319c.png)

What should the query write next..

[2015-12-23 02:21] mysterytree commented on #3
I execute
count_scalar(time()-container_last_seen{name!=""}<=10)
To monitor running containers and execute
count_scalar(time()-container_last_seen{name!=""}>10)
To monitor stopped/error containers.

When I strart a new container . The running container dashboard +1.
And the stopped/error dashboard +1 when I stopped it .
It looks works well.
But after about 300 seconds  ,   the stopped/error caonta

[2015-12-23 02:24] mysterytree commented on #3
Sorry about my poor English and hope you can understand ...
Thanks a lot..

[2015-12-23 09:34] vegasbrianc commented on #3
It appears the stopped container is removed from the list. If you check the metrics directly from cadvisor. Do you still see the container?

You can do this by http://cadvisor_ip_address/metrics

[2015-12-23 09:46] mysterytree commented on #3
I have check out the metrics and can't see it.
The cadivosor may ignored the Exited container...
Maybe can monitor it through other method...

[2015-12-23 12:59] vegasbrianc commented on #3
You can change the amount of time cAdvisor stores the data - https://github.com/google/cadvisor/blob/master/docs/runtime_options.md#local-storage-duration

[2016-05-05 16:29] raarts opened #4 "Does not work in a docker swarm"
I installed this on my docker-swarm test installation.
This ends in docker-compose up hanging, and port 9090 not being available:

[code]

end a little bit further down:

[code]

and here docker-compose up just hangs forever. ^C and then starting results in an incomplete install.
BTW, all containers ended up on separate hosts.. that may have something to do with it.

[2016-05-06 06:29] vegasbrianc commented on #4
Hmm. I will have to check. I never ran this in a Swarm so i will have to test it. What versions of Compose, Swarm, and Engine are you using?

[2016-05-06 08:06] raarts commented on #4
[code]

[code]

[2016-05-09 06:14] vegasbrianc commented on #4
Hi @raarts Thanks for the information. It will take me sometime to find some resources to get my swarm up and running for this so bare with me.

[2016-06-22 21:47] scotty-c commented on #4
@vegasbrianc All you need to do to get this working well with Swarm is not move the build function to DockerHub. So then the swarm nodes can pull the image. This will allow the container to re schedule on a failed node. Swarm does not understand the build function across a cluster.

[2016-06-28 14:26] vegasbrianc commented on #4
Thanks for the tip @scotty-c Should be good now.

[2016-06-28 14:26] #4 closed

[2016-06-28 15:09] raarts commented on #4
Hi, can you explain what happened here? I do not understand: 'NOT move the build function to dockerhub'? I see from the commit that docker-compose now just pulls the image from docker hub instead of building it locally.

[2016-06-28 22:42] scotty-c commented on #4
@vegasbrianc No worries, anytime !!!!

[2016-06-29 05:30] vegasbrianc commented on #4
Hi @raarts So as @scotty-c suggested I moved the build to DockerHub. What does that mean? I basically moved /prom to a seperate GitHub Repo [vegasbrianc/prom](https://github.com/vegasbrianc/prom) and then created a DockerHub repo which automatically builds this. Finally, I updated the compose file to pull the newly created image from my repo rather than building locally. This allows the image to b

[2016-07-06 15:21] pazams opened #6 "Best practice for "swarm mode""
Thanks for this bundle.
following up on #4 , what would be the best way to set this stack up on the swarm mode in docker 1.12?
should all services be duplicated on all nodes?
or
should only cAdvisor be duplicatied on all nodes,
i.e make cAdvisor the only "global" service in docker 1.12 term words.

[2016-07-07 06:07] vegasbrianc commented on #6
Hi @pazams Thanks for the comment. Actually, you've brought a very good point. I'm busy working on converting all my projects from docker-compose to bundles - https://blog.docker.com/2016/06/docker-app-bundle/ This will enable them to be ready for the new docker service and stack commands.

Now, the fix I made in #4 was only to enable this project for Swarm and you are correct in pointing out that

[2016-07-07 07:29] pazams commented on #6
Great, I'll keep a watch

[2016-07-08 21:15] philicious opened #7 "Deprecated services"
Hi,
while re-evaluating stacks, I also came across your repo.

You might already be aware but I wanted to mention it as your repo is the first and only one that turns up when googling for "prometheus docker-compose" and is therefore likely a source for quite some people I guess:
- the container-exporter is deprecated in favor of cAdvisor, which you already also have in your compose
- promdash is d

[2016-07-09 06:41] vegasbrianc commented on #7
Hi @philicious I really appreciate your comment. I'm always open for PR's so please submit if you have ideas. Otherwise you brought up some very valid points which I need to address.

As mentioned in #6 making the stack Swarm ready with multiple hosts is also something I need to address. This repo has been getting a lot of attention lately again so it would be good to bring it up to date as you me

[2016-07-10 14:30] philicious commented on #7
@vegasbrianc before doing a PR, I thought I'd gist you my current setup for monitoring host+containers (no swarm or other clustering, sorry, as thats not in my current projects scope)

Have a look at the gist and lemme know what you think.
https://gist.github.com/philicious/5693dbdcc742d5d66c66fad7957b6ead

Basically its cAdvisor+node-exporter+prometheus+grafana.
I didnt want to publish all ports,

[2016-07-13 06:55] vegasbrianc commented on #7
HI @philicious The gist looks good but I need your prometheus.yml in order to start the stack. Should we create a new branch so we can create a new version of the stack?

[2016-07-13 08:12] vegasbrianc commented on #7
I create [version-2](https://github.com/vegasbrianc/prometheus/tree/version-2) which we can upload our work to

[2016-07-14 10:59] vegasbrianc commented on #7
I created a new dashboard based on the Kubernetes Dashboard - https://gist.github.com/vegasbrianc/524cacbeb3f1405996a4b229bf3bad2b Let me know.

[2016-07-14 12:13] vegasbrianc commented on #7
I think it's good to go. Thanks again for all your help. I updated the readme and gave you a shoutout as well. Cheers Brian

[2016-07-14 12:13] #7 closed

[2016-07-14 12:15] vegasbrianc commented on #6
Hi @pazams I created a [version-2](https://github.com/vegasbrianc/prometheus/tree/version-2) which should help with your swarm issue. Also, this uses all the latest and greatest services. Let me know if you find any issues. Thanks!

[2016-07-14 12:15] #6 closed

[2016-07-14 12:51] philicious commented on #7
@vegasbrianc first of all thanks for the shouts :)

I tried your dashboard and noticed:
- "Memory Usage" is based on the `node_` metrics, not on `container_` metrics as the "Container Memory Usage". I guess its on purpose. However as its dubbed "docker monitoring dashboard" I would expect to only see container metrics. (personally for host metrics I use the node-exporter dashboard)
The result can

[2016-07-14 12:55] vegasbrianc commented on #7
Thx @philicious for the feedback. I was inspired by your dashboard and then stumbled on Grafana.net shortly after. Looks like I still have some work to do 👍 but is a project ever finished?

[2016-07-14 13:06] philicious commented on #7
@vegasbrianc haha no. constantly reworking (dev)ops stacks myself hehe

Also, diversity is a good thing. So I might still publish my version next days, not based on the kubernetes one. And with a few variations

[2016-07-14 13:13] vegasbrianc commented on #7
@philicious I will link to your dashboard in the instructions once you let me know.

[2016-07-15 03:09] llitfkitfk opened #9 "[Docker For Mac] No Data"
![image](https://cloud.githubusercontent.com/assets/2404785/16862503/90f6066e-4a7c-11e6-8848-73d4c5cc590f.png)

[2016-07-15 06:54] vegasbrianc commented on #9
Hello @liftkitfk is your data source configured and test connection? Also can you try to do a manual query on one of the graphs?

Let me know.

[2016-07-18 07:26] vegasbrianc commented on #9
Hello @llitfkitfk Let me know the current status so I can help you. Please let me know how if you performed test connection and if manual queries work.

[2016-07-18 09:16] llitfkitfk commented on #9
1. docker-compose up -d
![image](https://cloud.githubusercontent.com/assets/2404785/16910457/54e2c8c4-4d0b-11e6-9846-2a6643b43637.png)

2. add data source
![image](https://cloud.githubusercontent.com/assets/2404785/16910433/27e795ac-4d0b-11e6-87c5-9393a1f45dc0.png)

[2016-07-18 10:52] vegasbrianc commented on #9
Hmm strange @llitfkitfk Are you able to run manual queries?

[2016-07-18 12:39] haimoura commented on #9
@llitfkitfk Please check the date, change it to Jul 18 for example.

[2016-07-18 13:00] vegasbrianc commented on #9
Good catch @haimoura I believe @llitfkitfk needs to adjust the date of Grafan

[2016-07-20 03:16] starjason opened #10 "Consult how to build a cluster version？"
this is single node ，very good！
but ，How to set up a multi node？

[2016-07-20 04:08] Krylon360 commented on #9
Change time range to Last 6 Hours, then verify that the data source on each panel is pointing to the correct data source. Also make sure you can actually pull up http://prometheus:9090 in your browser.

[2016-07-21 08:02] vegasbrianc commented on #9
Closing this issue as I believe this was a time/date setting in the dashboard. Let me know otherwise I open it back up. Thx.

[2016-07-21 08:02] #9 closed

[2016-07-21 08:03] vegasbrianc commented on #10
@starjason Ah ha! The Million Dollar question has finally been asked 👍 I'm working on building an auto-discovery setup so when you deploy new nodes they are automatically registered in Prometheus. Basically it would work just like the Prometheus integration with Kubernetes. Stay tuned!

[2016-07-22 12:59] kklepper opened #11 "Comprehension question: how to define the targets"
Installation worked like a breeze, thank you very much. My Amazon EC2 instance shows an impressive dashboard -- with no data.

My naïve idea was that I could see what was happening on this instance, at best right away.

On this Ubuntu instance are running quite a number of docker containers which provide a service accessible via browser: in this case for example Apache + PHP and MySQL-replication

[2016-07-22 13:12] philicious commented on #11
@kklepper I have a quiet similar setup running on EC2.
The targets shouldnt need to change. The cadvisor is scraping the containers metrics and pushing them into Prometheus. Grafana is then querying Prometheus to show you nice graphs.

For debugging, you can change the docker-compose.yml so the prometheus has
[code]
instead of `expose`. That way you can access it directly in browser and see if dat

[2016-07-22 13:15] philicious commented on #11
Oh and the "different network" is not a problem aslong as the docker host can "see" it and containers living there. cAdvisor gathers container metrics by these docker host volumes belonging to the docker daemon
[code]

[2016-07-22 13:26] kklepper commented on #11
Thank you very much your quick answer and for your hints. I added the first snippet to docker-compose.yml, section prometheus, the 2nd snippet to prometheus/prometheus.yml, but now I get request errors all over the place:

	/api/datasources/proxy/1/api/v1/query_range?query=(sum(node_memory_MemTotal)%20-%20sum(node_memory_MemFree%2Bnode_memory_Buffers%2Bnode_memory_Cached)%20)%20%2F%20sum(node_memo

[2016-07-22 13:35] philicious commented on #11
@kklepper you shouldnt need to add/change sth in prometheus.yml
My `volumes` snippet was only for showing how its working. Nothing for you to copy anywhere. Sorry if that was misleading.

My first snippet `ports` is for the docker-compose.yml, prometheus section. thats correct. All it does is making prometheus externally accessible via that port. So you can directly check prometheus and leave graf

[2016-07-22 13:48] kklepper commented on #11
Okay, thank you very much again. Targets shows 4 entries: 3 up and one down, and the latter is my_external_ec2_ip:80/metrics. Error: context deadline exceeded

This is probably due to my entry

    - targets: ['localhost:9090','cadvisor:8080','node-exporter:9100','my_external_ec2_ip:80']

Omitting the last one, targets shows only those other 3 as up.

Looking at http://my_external_ec2_ip:9090/grap

[2016-07-22 16:56] philicious commented on #11
@kklepper those 3 up are good. that one red is your wrongly added entry, yeah.

now in prometheus, in Graph tab, insert `count(container_last_seen{image!=""})` and `Execute` and you should see number of running containers

[2016-07-22 19:55] kklepper commented on #11
Thank you.

Surprisingly, I get 0. However, docker ps -a shows 11, 4 of them running 5 hours (prometheus), the other 7 are mine, running 7 hours.

I also tried container_memory_cache which showed nice curves; I could identify my db master and its 2 slaves, the web container as well. Not easy to read, but interesting. You can see the master working and the slaves replicating in parallel during a lo

[2016-07-22 20:02] philicious commented on #11
Hm. so at least you get something.

In Grafana, go to "Data Sources", there should be Prometheus. Click on it and there is "Save & Test", click on it and report

[2016-07-22 20:46] kklepper commented on #11
Success
    Data source is working.

And now what?

[2016-07-22 21:03] philicious commented on #11
err..good question.. #9 problem was a bad timerange in Grafana. Make sure you have set it to sth like "past 3 hours"
besides that, every graph SHOULDNT have a tiny red triangle on upper left. if it does, click on it which will give you more detail

[2016-07-22 21:24] kklepper commented on #11
Bingo! Thanks a ton! Took me some ingenuity to find that time setting, but then: surprise!!! Great!

I know getting the right time inside the container is not granted, so maybe I should look at the prometheus Dockerfiles to see if it is taken care for. But no, the time shown in the graphs is ok.

Beautiful, instructive, helpful beyond belief. Thank you all.

[2016-07-22 21:24] #11 closed

[2016-07-22 21:41] philicious commented on #11
@kklepper good to know it's working! The times should be correct even if time inside your own containers is different.

@vegasbrianc maybe our dashboards at grafana.net and readme here should have a note for making sure grafana timerange is good. (However the dashboards should start with last few hours)

[2016-07-23 14:20] kklepper opened #12 "does this make sense?"
The observation system takes the bulk of the resources - see screenshot 1. I'm afraid it does not make sense in my setting with 1 GB RAM.

![prom2](https://cloud.githubusercontent.com/assets/6130319/17078352/435dfd1e-50f1-11e6-8d0a-94355dba7ff7.PNG)

Things may look differently on bigger machines with more load, though.

Also, the insight I got from prometheus isn't reflected in grafana (screensho

[2016-07-23 14:38] philicious commented on #12
Yes, Prometheus uses ~1GB of RAM. You can try to reduce it with setting `storage.local.memory-chunks` in compose.yml The default is `1048576`. However dont mistake this with sth like"max RAM"
(also see https://prometheus.io/docs/operating/storage/#memory-usage)
[code]

Your Prometheus vs Grafana selected time ranges seem to be different. Prometheus looke like 19:00-19:45 and Grafana shows 16:00 to

[2016-07-23 14:58] kklepper commented on #12
Thank you for the hint regarding memory usage.

The time differences do not matter here. For days now, I am chasing a bug not occuring locally (mysql error 2006: server has gone) which showed up surprisingly with a sample not being any different than many others, happening after about 14 minutes at the very end of the cycle, when nothing much has to be done anymore, with a simple select count. Sta

[2016-07-23 15:05] philicious commented on #12
Well time ranges have to be aligned or you cant expect to see the same graph in Grafana. Set the same range and you should see the same sawtooth curves for S1/S2/M1.
If you have a different range, the curves might be flattened out by the graphing algorithm. especially if you have multiple graphs plotted with a bigger gap in their values.
Click on a the name of a container in the legend and it will

[2016-07-23 15:09] philicious commented on #12
And make sure you are running the same queries in Prometheus as Grafana dashboard graph uses: Click on Graph title -> Edit->Metrics.
You can also try my alternative dashboard https://grafana.net/dashboards/193
It uses slightly different queries to query the data than Brian uses.

[2016-07-23 15:40] kklepper commented on #12
Oh, thanks a lot,. I'm beginning to understand... I will investigate later. You gave me enough hints to get on the right track.

Regarding RAM, I wonder what happens here. The web container alone claims to use up to 600 MB (for Data Mining purposes), but it isn't reflected in the graph. Anyway, it all adds up, I have 1 GB plus 1 GB swap, but still I don't really understand.

Actually this is why I

[2016-07-25 03:24] llitfkitfk commented on #9
Thanks, It works!
![image](https://cloud.githubusercontent.com/assets/2404785/17089535/4fc5c248-525a-11e6-98ae-9f1ed0ec6c11.png)

[2016-07-25 03:49] ckmason commented on #9
I'm having a similar  problem as llitfkitfk on a Mac and followed the above directions:
adjusting the grafana date/time range to the last 3 hours, verified each panel is referring to the correct data source, verified the data source,  and also changed the docker-compose.yml to change the Prometheus service to ports 9090:9090 and verified I can hit http://localhost:9090/metrics.  I get some partial

[2016-07-25 03:51] llitfkitfk commented on #9
@ckmason Have you add File shareing in docker for mac？

[2016-07-25 08:16] vegasbrianc commented on #11
Hello @kklepper, @philicious Just getting going here with this. It appears this is a common occurrence with the new Grafana stack. I've had a few such questions come in regarding no data so I will update the documentation and add a troubleshooting section to hopefully address this.

Thank you both!

[2016-07-25 12:31] ckmason commented on #9
@llitfkitfk I see this, it looks like your screen shot.  I have not explicitly shared anything though.  Are these directories automatically shared with Docker for mac?
![fs](https://cloud.githubusercontent.com/assets/14194291/17101391/dacb211a-5239-11e6-8f5d-2787002be4a3.png)

[2016-07-26 02:58] llitfkitfk commented on #9
because cadvisor use
[code]
I add / to file sharing

Can you screen shot the cadvisor logs?

[2016-07-26 19:01] ckmason commented on #9
Hey @llitfkitfk , thanks for the hint.  I was not able to share / with docker from my Mac but, I was able to update the docker-compose.yml like so and got it to work:
    volumes:
      - /tmp/cadivsorrootfs:/rootfs:ro
Thank you!

[2016-07-26 20:41] philicious commented on #9
@ckmason I think thats not going to work. / is mounted to /rootfs ro = read-only. so cadvisor wants to read things there. If you mount a random (empty) folder, cadvisor will fail to read whatever it expects to be there

[2016-07-27 02:14] llitfkitfk commented on #9
@philicious agree

[2016-07-27 03:32] ckmason commented on #9
Hello @llitfkitfk  and @vegasbrianc , I had it working when I did share - /tmp/cadivsorrootfs:/rootfs:ro as I mentioned above -- it worked for awhile anyway and then it all just disappeared.  Here is a screenshot:
![prom](https://cloud.githubusercontent.com/assets/14194291/17162964/59206ace-5380-11e6-8af1-634291a13f16.png)

I've not got it to work since then.

If I try to share / with Docker, I ge

[2016-07-27 11:11] vegasbrianc commented on #9
@llitfkitfk Is this fixed now?

[2016-07-27 21:32] ckmason commented on #9
@vegasbrianc @philicious  I was not able to share the / dir with Docker due to the error above (probably because I don't know what I am doing).

I did export - /tmp/cadivsorrootfs:/rootfs:ro for cadvisor in the docker-compose.yml file to work around, and it seems to be working.

It's been running for about 8 hours now...  I too was surprised that the /tmp/cadivsorrootfs:/rootfs:ro would work but,

[2016-07-27 21:42] philicious commented on #9
@ckmason cc @vegasbrianc actually I dont know why / should be shared. I just checked some other sources and they dont have that / volume. only the other three.

so imho, that / volume could be removed entirely. @ckmason would you mind trying ?

[2016-07-27 21:43] ckmason commented on #9
Sure, I'll give it a whirl!  Standby..

[2016-07-27 21:56] ckmason commented on #9
I removed the / volume and restarted everything, its been running for over 5 minutes now just fine.  Looks like its not needed after all!

[2016-07-28 02:49] llitfkitfk commented on #9
@vegasbrianc
It can work on my mac and vps.

For the problem described by @ckmason ,I asked Docker for Mac Forum https://forums.docker.com/t/file-sharing-problem/19124

[2016-07-28 10:49] vegasbrianc commented on #12
@kklepper It is also best practice (if possible) to run the Prometheus stack on a different host as your workload.

[2016-07-28 10:51] vegasbrianc commented on #10
Hi @starjason Another possibility is to deploy cAdvisor's on all nodes that you deploy. You would then add the new cAdvisor as a new target to be monitored.

It is turning out to be a tougher challenge than I initially thought about making an auto-discovery multi-node. It appears Prometheus will be adding the feature directly into the product to monitor Swarm nodes via the API.

[2016-07-28 10:51] #10 closed

[2016-07-28 12:11] vegasbrianc commented on #9
I'm running this on Docker for Mac and have never required doing anything within file sharing.

[2016-07-28 12:34] ckmason commented on #9
Hi, maybe different docker versions?

Carltons-MacBook-Pro:prometheus ckmason$ docker --version
Docker version 1.12.0-rc4, build e4a0dbc, experimental
Carltons-MacBook-Pro:prometheus ckmason$ docker-compose --version
docker-compose version 1.8.0-rc2, build c72c966

[2016-07-28 12:36] vegasbrianc commented on #9
Hi @ckmason I'm running the same exact versions as Docker for Mac is auto updated with the latest versions. Did you upgrade from Docker Toolbox?

I would recommend uninstalling Docker for Mac and reinstalling as maybe a previous version is conflicting somewhere.

[2016-07-28 13:46] ckmason commented on #9
Hi @vegasbrianc, I think I am OK.  Since there is no need to share the local / with Docker since it is  unnecessary for cadvisor (and I have removed it from my local copy of the docker-compose.yml), then I don't have a file sharing problem.

Since, this line (- /:/rootfs:ro)  in the volumes section of the cadvisor service in the docker-compose.yml is unnecessary, perhaps it should be removed from

[2016-07-29 02:25] llitfkitfk commented on #9
@ckmason Cheers, And you can also tryout the new feature: alertmananger

[2016-07-29 14:09] starjason commented on #10
hi @vegasbrianc  The key point is how to build a distributed database cluster.
The problem with cadvisor+influxdb+grafana is that influxdb can't cluster. Or how to build a Prometheus cluster?

[2016-08-01 18:18] rayjohnson opened #14 "Does this work with Docker 1.12 swarm mode?"
Has anyone tried this with docker 1.12 swarm mode?  This looks awesome but I'm curious how much of this is outdated with the new docker.

[2016-08-02 06:58] vegasbrianc commented on #14
Hi @rayjohnson Yes, this does deploy with Swarm. However, the current setup deploys the stack across the Swarm and doesn't not allow you to "out of the box" monitor the nodes of the swarm. It will only monitor the node in which cAdvisor & Node scraper are deployed to. We are working on a deployment strategy that allows you to monitor every nodes of the swarm as well. I hope to have this done by th

[2016-08-02 06:58] #14 closed

[2016-08-02 07:09] vegasbrianc commented on #10
Hi @starjason InfluxDB does have a HA configuration using Influx Relay - https://github.com/influxdata/influxdb-relay/blob/master/README.md Also, Prometheus supports Federation which may also help - https://prometheus.io/docs/operating/federation/

[2016-08-02 12:02] philicious commented on #14
@vegasbrianc which ideas you got for deploying cAdvisor to every swarm node ? Mine would be:
- Use `docker service --mode global` to run a cAdvisor container on every swarm node automatically
- As there is no way of hooking into swarm init/join directly, I think one would need to query the swarms discovery service via the API to find all the swarm nodes and making sure they are all set as targets

[2016-08-02 14:54] starjason commented on #10
Thank you very much.Thank you for pointing!
Look forward to more of your good works!

[2016-08-03 05:01] codewithpassion opened #15 "No data issue: Due to dashboard config"
Hey,

Ran into the issue that I couldn't see any data. How about you update the JSON file with the time settings adjusted to:

          "time": {
                "from": "now/d",
                "to": "now"
          },

[2016-08-03 05:34] vegasbrianc commented on #15
Hi @codewithpassion thanks for catching that. I've updated the dashboard with your recommendation.

[2016-08-03 05:34] #15 closed

[2016-08-03 11:41] vegasbrianc commented on #12
Updated the Dashboard to use from: now-1hour To:now so it should always gather data.

[2016-08-03 11:41] #12 closed

[2016-08-04 06:09] vegasbrianc commented on #14
Hi @philicious Great idea. I'm busy experimenting with all the `docker service` flags to understand how best it would work in this situation. I saw Prometheus already has an issue open for integrating Swarm API but they are waiting for 1/2 releases before implementing it.

[2016-08-05 07:52] j-shade opened #16 "Container memory usage 0B"
Cloned your git, used docker-compose, added the source and imported the template and everything seems okay however:

every container has a memory usage of 0B,
the total network I/O seems.. incorrect (unless this is only docker network IO?)

[2016-08-05 10:14] vegasbrianc commented on #16
Is every stat reporting zero? Do you see a red exclamation point in the upper right hand corner of the graphs?

[2016-08-08 06:50] vegasbrianc commented on #16
Hi @j-shade Is this all sorted?

[2016-08-09 06:42] vegasbrianc commented on #16
Hi @j-shade I will close this issue unless I hear back to you. Thanks!

[2016-08-09 06:42] #16 closed

[2016-08-10 09:59] starjason opened #17 "cannot display data"
System environment：
cat /etc/system-release
CentOS Linux release 7.2.1511 (Core)

docker -v
Docker version 1.12.0, build 8eab29e

/usr/local/bin/docker-compose -v
docker-compose version 1.8.0, build f3628c7

[code]

import Grafana_Dashboard.json

but，cannot display  data！

[2016-08-10 10:42] vegasbrianc commented on #17
Hi @starjason Please provide a screenshot of your Data Source and Dashboard to better understand what is going on.

Thanks!

[2016-08-11 08:18] starjason commented on #17
@vegasbrianc
![data-source](https://cloud.githubusercontent.com/assets/16408594/17582574/2a2ec25e-5fdf-11e6-8296-a72d3062ae7a.png)

![123](https://cloud.githubusercontent.com/assets/16408594/17582587/39427b8c-5fdf-11e6-9b8c-230803bddef9.png)

[2016-08-11 08:52] vegasbrianc commented on #17
Can you install the latest version of the dashboard? https://grafana.net/dashboards/179

Let me know the outcome. Thx!

[2016-08-12 05:03] starjason commented on #17
I am sorry to tell you。As a result, the data can not be displayed。

[2016-08-12 07:37] vegasbrianc commented on #17
Can you show me the logs of the stack? docker-compose logs?

[2016-08-12 07:52] vegasbrianc commented on #17
Next, you could also visit the prometheus container http://0.0.0.0:9090/targets and let me know  if 1, all your targets are seen here and 2, whether they are online?

[2016-08-13 05:32] starjason commented on #17
http://0.0.0.0:9090/targets
![targets](https://cloud.githubusercontent.com/assets/16408594/17641621/112dc8aa-615a-11e6-88e8-b8e2273e00cb.png)

[2016-08-13 05:33] starjason commented on #17
/usr/local/bin/docker-compose ps
           Name                         Command               State           Ports
--------------------------------------------------------------------------------------------
prometheus                   /bin/prometheus -config.fi ...   Up      0.0.0.0:9090->9090/tcp
prometheus_alertmanager_1    /bin/alertmanager -config. ...   Up      0.0.0.0:9093->9093/tcp
prom

[2016-08-13 05:38] starjason commented on #17
/usr/local/bin/docker-compose logs

example:

[code]

[2016-08-13 05:40] starjason commented on #17
Initial suspicion is the issue of compatibility。Can you look for the same environment to test it?

[2016-08-23 04:02] ViViDboarder opened #18 "Uneeded dependency on node_collector for System Memory and CPU usage?"
I don't have any node applications so decided to try and come up with metrics queries to pull system usage with only cAdvisor and came up with the following.

For memory:
[code]

For CPU:
[code]

I'm new to all of this though (cAdvisor, Prometheus, Grafana) so not sure if this is wrong for some reason I'm not aware of yet.

[2016-08-23 11:03] philicious commented on #18
@ViViDboarder (just to avoid misunderstandings: the `node` metrics refer to host machine/node metrics collected by node_exporter and **not** nodeJS applications)

But you are right and the container dash wouldnt need to use host metrics.
You could have a look at my alternative dashboard for this stack if you are curious https://grafana.net/dashboards/193
Its not using any of the `node_`metrics and

[2016-08-24 13:23] kasidesh opened #19 "Container CPU usage show wrong percent"
https://grafana.net/dashboards/179 this dashboard
![image](https://cloud.githubusercontent.com/assets/829921/17932052/6e1fdf76-6a38-11e6-96f4-d86b7dc365c3.png)

- prometheus container show CPUusage consume to 4000%

[2016-08-25 13:54] vegasbrianc commented on #18
Thanks for the answer @philicious

[2016-08-25 13:54] #18 closed

[2016-08-25 14:07] vegasbrianc commented on #19
HI @kasidesh I've updated the dashboard so please let me know if it still occurs. If so could you provide more details about your docker versions, host, etc?

[2016-09-01 18:33] kasidesh commented on #19
new dashboard are work, thank you for your updated

[2016-09-01 18:33] #19 closed

[2016-09-01 20:16] vegasbrianc commented on #19
Thanks for the feedback @kasidesh

[2016-09-14 06:11] vegasbrianc commented on #17
Is this still open or were you able to find a fix?

[2016-09-29 09:01] emrehasan opened #21 "cAdvisor problem with CentOS7"
First of all: Great Project. Thanks.

Running on my server lead to following issue:
cadvisor_1       | F0929 08:57:13.605754       1 cadvisor.go:151] Failed to start container manager: inotify_add_watch /sys/fs/cgroup/cpuacct,cpu: no such file or directory

This seems to be a known problem with CentOS7 and cAdvisor: https://github.com/google/cadvisor/issues/1444.

i will try to get the fix (newer

[2016-09-29 09:07] vegasbrianc commented on #21
Haven't tried with CentOS so this is good to know. Thanks for keeping me informed!

[2016-09-29 09:16] emrehasan commented on #21
i am not sure if you should change it because you already pull the "latest" image and in future this issue will be closed:

Please have a look at the cadvisor public repository: https://hub.docker.com/r/google/cadvisor/tags/ the latest image last updated before 9 days does not seem to contain the bugfix #1444. Changing your docker-compose.yml to pull the canary image solved the problem for me.

[2016-09-30 01:47] JREAM commented on #17
Worked for me on Ubuntu when I set Data Source to:
[code]

Making sure
[code]

[2016-10-04 00:34] Lugoues opened #22 "Prometheus doesn't resolve proper ips"
Two of the three targets fail. Any idea why this might happen?
`Get http://cadvisor:8080/metrics: dial tcp 192.64.119.254:8080: getsockopt: connection refused`
`Get http://node-exporter:9100/metrics: dial tcp 192.64.119.254:9100: getsockopt: connection refused`

[2016-10-04 12:55] riemers commented on #21
Canary seems to do the trick for me too.

[2016-10-04 14:46] vegasbrianc commented on #21
OK, we will close this as the issue lies with cAdvisor which should be fixed when Canary moves to release.

Thanks @riemers @emrehasan

[2016-10-04 14:46] #21 closed

[2016-10-06 10:14] idnow-philicious commented on #22
@Lugoues what OS are you trying this on?

also make sure `docker ps` shows the cadvisor and node-exporter containers running and with ports 9100/tcp and 8080/tcp

[2016-10-06 10:16] philicious commented on #22
@Lugoues what OS are you trying this on?

also make sure docker ps shows the cadvisor and node-exporter containers running and with ports 9100/tcp and 8080/tcp

[2016-10-06 14:06] Lugoues commented on #22
Linux esus 4.6.0-1-amd64 #1 SMP Debian 4.6.4-1 (2016-07-18) x86_64 GNU/Linux

Cadvisor has 8080/tcp mapped
nodeexporter has 9100/tcp mapped

Thanks for looking into this!

[2016-10-08 17:13] vegasbrianc commented on #22
Hi @Lugoues If you exec into the prometheus container can you try to ping the hostnames/IP of cAdvisor & node exporter?

Do you have any firewalls running that would block these ports?

[2016-10-11 22:47] gjonespf commented on #22
@Lugoues Indeed, might want to check that both prometheus and cadvisor are running on the same docker network.  Doing an exec in will point that out pretty quickly.

[2016-10-13 20:33] vegasbrianc commented on #22
Hi @Lugoues Did you make any headway with this?

[2016-10-13 20:33] vegasbrianc commented on #17
Closing this issue unless you still need assistance.

[2016-10-13 20:33] #17 closed

[2016-10-18 18:33] davidmir opened #23 "Attach another nodes_exporters"
I added more targets in prometheus.yml file, but however Grafana graph is still not show these nodes. The nodes that are running on those hosts are 'node_exporters'. They appears in "targets" but Grafana does not present their results (only shows the natives). I'm having the wrong approach?

Thanks

[2016-10-19 03:04] vegasbrianc commented on #23
Hi @davidmir Are you adding the targets by IP or hostname? Hostname makes it much easier to differentiate within Grafana. Could you provide a query you are using in Grafana?

[2016-10-19 09:35] davidmir commented on #23
Hi, I'm using the hostnames. This are my targets on prometheus.yml:

I'm using the Grafana Docker Dashboard. I have to make some changes in order to attach more nodes to the dashboard?

Thanks

[2016-10-19 09:52] idnow-philicious commented on #23
@davidmir if you are interested in node metrics, I can recommend https://grafana.net/dashboards/22 which is a Dashboard for a single node based on node-exporter and you can select the node with a dropdown. For the host/node metrics I use this one and for container metrics I use either Brian/my dashboard.
Theres also https://grafana.net/dashboards/405 now which has even more node metrics (also base

[2016-10-19 10:54] davidmir commented on #23
My question goes in this direction: I have on another remote machine docker containers running. If I start cadvisor and node-exporter on that machine and add this machine to the targets they should not appear in Grafana?

[2016-10-19 11:07] philicious commented on #23
@davidmir ah ok, I understand. so then you also need to run cadvisor on that other node and add it as target. cadvisor collects the container metrics whereas node-exporter collects the hosts metrics.

[2016-10-19 11:14] davidmir commented on #23
@philicious I'm already doing it. however it detects that the cadvisor continues below (i'm using the image in this repository). It may be that he was running in the container docker (network problems)?

[2016-10-19 11:48] philicious commented on #23
@davidmir ok so lets sum up so I get a better understanding of the setup:
- you have node-exporter + cadvisor running on that second node?
- and both are configured to send to your central prometheus ?
- and in prometheus `/targets` all targets (=2x node-exporter + 2x cadvisor) are green and up ?

PS: the docker-compose.yml wasnt made for multi-node setup.
however for "Swarm Mode" there is work in

[2016-11-09 09:49] vegasbrianc commented on #22
Closing this unless more feedback is given.

[2016-11-09 09:49] #22 closed

[2016-11-09 09:49] vegasbrianc commented on #23
Hi @davidmir is this now resolved? Can we close this?

[2016-11-10 03:55] Samuelg80 opened #24 "Is node_filesystem possible"
I would like to be able to see my entire file system not just the container usage. The following metric returns NA.

100 *(1 - (node_filesystem_free{ filesystem="/"}  / node_filesystem_size{ filesystem="/"}) )

Is there a way to fix this?

[2016-11-10 08:08] vegasbrianc commented on #24
Hi @Samuelg80 node_exporter is actual working as designed. The workaround to monitor other filesystems is very nicely documented here - https://www.robustperception.io/monitoring-directory-sizes-with-the-textfile-collector/

[2016-11-10 08:08] #24 closed

[2016-11-10 14:23] Samuelg80 commented on #24
@vegasbrianc Thank you very much for the information and quick response.

[2016-11-11 09:48] ppraj commented on #23
Hi,

I'm interested an out of box solution for docker  1.12.3 swarm mode . I use service to deploy containers , and how thus this monitoring setup help . I tried to run cadvisor as service but then this will be load balanced by swarm mesh network .Please document the steps , if it can help

[2016-11-14 08:25] vegasbrianc commented on #23
Hi @ppraj I would wait for 1.13 as I believe Prometheus will be integrated as an exporter which would resolve your issue. I've heard this should hit 1.13 - https://github.com/docker/swarmkit/issues/1284

[2016-11-14 08:25] #23 closed

[2016-12-17 11:51] collegeimprovements opened #28 "HTTP Error - Bad Gateway"
Both Grafana and Prometheus are up. But when I try to add a data source, I get this error.
![image](https://cloud.githubusercontent.com/assets/1519705/21286548/24f77364-c47d-11e6-9e19-b29d44490a58.png)

[2016-12-17 11:58] collegeimprovements commented on #28
Oh...It was my mistake. I forgot to change localhost with my server's name. It looks very cool now :)

[2016-12-17 11:58] #28 closed

[2016-12-20 07:40] vegasbrianc commented on #28
Hi @collegeimprovements Glad you found a solution. Thanks for the update!

[2016-12-22 09:23] ebreton opened #29 "No data displayed... because of timezone mismatch between grafana and cAdvisor"
Hi guys,

I have encountered the same symptom as a few earlier: no data displayed in my grafana dashboard.

When looking closer, I found out that grafana was using the timezone of my Mac (UTC) whereas cAdvisor was pushing its metrics with a 9:30 hours shift...

Therefore, data appears on Grafana... but in the past.. :)

Do you know any way to fix this ?

I have post a question on cAdvisor (https:/

[2016-12-22 09:46] llitfkitfk commented on #29
can you volume the host timezone to cAdvisor and try again?

[2016-12-22 09:48] ebreton commented on #29
sorry, I don't get what I have to do :(

[2016-12-22 09:52] llitfkitfk commented on #29
docker run -it alpine:3.4 sh

https://wiki.alpinelinux.org/wiki/Setting_the_timezone

use `docker cp` copy the right timezone of the alpine container  to host

run cAdvisor  -v /host/alpine-timezone:/cadvisor-container-timezone

[2016-12-22 10:02] ebreton commented on #29
I have modified the alpine image as suggested. And the docker-compose down and up again.

It now works as expected :)

But is there a way to automate this ? It is not very satisfying this way...

[2016-12-23 02:23] llitfkitfk commented on #29
@ebreton this is the only way to change container timezone. Or you can make you own Dockerfile

FROM cadvisor
ADD ./expected-timezone /container-timezone

[2016-12-28 21:09] ebreton commented on #29
yep. good advice for the Dockerfile. Cheers !

[2016-12-28 21:09] #29 closed

[2017-01-04 03:35] huyifanstar opened #30 "No dockerfile file?"
If want to push with a private warehouse?

[2017-01-04 07:52] vegasbrianc commented on #30
Hi @huyifanstar Thanks for your comment. This project uses all the standard images for Prometheus, Grafana, and exporter directly from Docker Hub. Since we are using the standard images no Dockerfiles are required. However, a docker-compose file is included which allows you to build the entire monitoring stack.

Be sure to review the [install section](https://github.com/vegasbrianc/prometheus#inst

[2017-01-04 07:52] #30 closed

[2017-01-04 07:57] huyifanstar commented on #30
OK ,thans you !  I git clone to see some configuration files, originally intended to be made into a mirror, but do not know the relationship between these configuration files

[2017-01-04 08:13] vegasbrianc commented on #30
Please take a look at the README that I mentioned above. This should
describe all the files and what is required to get the stack up and
running. If you have any questions let me know.
On Wed, 4 Jan 2017 at 08:57, huyifanstar <notifications@github.com> wrote:

--
Brian Christner

Follow me: @idomyowntricks <https://twitter.com/idomyowntricks>
Follow me: LinkedIn <http://ch.linkedin.com/in/brianchr

[2017-01-04 08:15] huyifanstar commented on #30
OK  ， I went to try ！
thanks!

[2017-02-05 17:38] fredrikaverpil opened #31 "Monitoring local machine instead of container?"
This is all a super nicely packaged Grafana/Prometheus setup which is up and running in no time. 👍

I was just wondering if you think it's possible to make this monitor the local machine's resources rather than the container's?

For example, perhaps running the node exporter container in privileged mode could enable something like this?
I personally would be interested in doing this on CentOS 7.

[2017-02-06 07:14] vegasbrianc commented on #31
Hi @fredrikaverpil Thanks for your message and feedback.

node-exporter in this configuration is pulling host metrics and not container metrics. Wherever you install node-exporter just add a new target in the prometheus.yml file and it will start monitoring the host as well. This should work out of the box for CentOS otherwise let me know.

Prometheus then handles only container monitoring. This i

[2017-02-06 07:14] #31 closed

[2017-02-06 11:14] maheshmadpathi opened #32 "getsockopt: connection refused"
I'm getting below error on Linux VM, but it works fine on my Docker toolbox, any idea what I'm missing here?
[code]

docker-compose.yml (have built the images with Docker official images, to avoid `CVE`)

[code]
 uname -a

[code]
docker info

[code]

appreciate the help!

Thanks,
Mahesh

[2017-02-06 11:49] vegasbrianc commented on #32
Hi @maheshmadpathi I would be curious if you used the original images if it worked. I would also check to see if you could resolve the the url in the error message from inside the Prometheus container user docker exec. Let me know what this produces.

[2017-02-06 19:30] maheshmadpathi commented on #32
we found the issue, change the prometheus command to below

[code]

but none of below are opening, but I get the html when i do `curl -i http://<my server IP>:9090/metrics` any idea why?
[code]

[2017-02-06 19:48] vegasbrianc commented on #32
If you use the name of the services does this resolve correctly?

[2017-02-06 19:49] maheshmadpathi commented on #32
yeah it did and the error message I posted earlier is gone.

[2017-02-06 20:20] vegasbrianc commented on #32
Cool, any other questions?

[2017-02-06 20:48] maheshmadpathi commented on #32
checking below error

[code]

[2017-02-07 08:55] vegasbrianc commented on #32
I don't think you should be worried about these. I know cAdvisor team has been working on RKT container integration so I think this is just a probe. Look here - https://github.com/google/cadvisor/search?utf8=%E2%9C%93&q=rkt

[2017-02-07 18:24] maheshmadpathi commented on #32
did fix all the issues, and Prometheus works well :+1:

[2017-02-17 07:41] prasenforu opened #33 "No Container Data displayed in Grafana"
I am running all in AWS EC2 (Amanon Linux Image).

All containers running. Even I update cAdvisor images if there was time stamp issue. (issue mentioned in https://github.com/vegasbrianc/prometheus/issues/29)

![image](https://cloud.githubusercontent.com/assets/19322497/23056631/50737f18-f512-11e6-9853-829a2a1dac94.png)

![image](https://cloud.githubusercontent.com/assets/19322497/23056639/64024d0

[2017-02-17 18:41] vegasbrianc commented on #33
Hi @prasenforu Thanks for your message. Is the data available within Prometheus directly? If so it might be an issue with the data source you created in Grafana. Ensure the data source your created matches the data source in each graph query.

Let me know the outcome.

[2017-02-18 00:30] prasenforu commented on #33
Thanks for reply.
In prometheus I can see the data when I do query.
Even data source also correct which is running in same host. I don't see any special configuration in data source setup.

You can see there is memory ploting, not sure how its getting.

[2017-02-18 00:42] prasenforu commented on #33
Its a demo box. You can have a look.

http://ec2-13-54-70-219.ap-southeast-2.compute.amazonaws.com:3000/  - Grafana

http://ec2-13-54-70-219.ap-southeast-2.compute.amazonaws.com:9090 - Prometheus

I followed your guide in github. No change even authentication also.

[2017-02-18 12:55] philicious commented on #33
I had a quick look and it seems to be a problem with the container names.

I took the Container Memory Usage graph in "Docker Dashboard" `sort_desc(sum(container_memory_usage_bytes{image!=""}) by (name))` and put that in Prometheus. If you remove `{image!=""}` you will see data. Also in Grafana.

It looks like cadvisor only sees one container tho ?!

[2017-02-18 18:29] prasenforu commented on #33
little alter as per your suggestion, but what data I am getting.

is it for container or host, if container which container ?

where others container data ?

[2017-02-19 19:11] rbosneag commented on #31
Hi @vegasbrianc and thanks for the awesome setup! It works great but I'm not sure what it does :)

So, excuse the dumb question as I am new to Docker and Prometheus as well but how can I monitor the host machine or other systems in the network using this configuration?

I'd like to use your `docker-compose` setup to monitor a staging system with various exporters (none of them installed yet) but I

[2017-02-19 22:04] vegasbrianc commented on #31
Hi @rbosneag Thanks for the message. It might be easier if you reach out to me via email brian.christner@gmail.com as this will be much easier.

[2017-02-27 13:38] vegasbrianc commented on #33
Hi @prasenforu The example which @philicious provided is removing the filter on all the containers. By doing this you should see all containers that are running. Anything that has `node`in the query will be all metrics for the host. Hope this helps.

[2017-02-27 13:50] vegasbrianc commented on #32
@maheshmadpathi This is great news. Closing the issue unless you need anything further.

[2017-02-27 13:50] #32 closed

[2017-03-15 07:21] prasenforu commented on #33
Sorry !! forgot to close.

[2017-03-15 07:21] #33 closed

[2017-04-10 16:11] maheshmadpathi opened #36 "no container data in grafana"
The grafana page doesnt show any containers and their metrics, i see below in docker-compose logs, I think the cAdvisor isn't getting connected to Prometheus and Prometheus to alertmanager?

#### cAdvisor

cadvisor_1 | I0410 15:58:42.820865       1 manager.go:204] Version: {KernelVersion:3.10.0-327.22.2.el7.x86_64 ContainerOsVersion:Alpine Linux v3.4 DockerVersion:1.10.2 CadvisorVersion:v0.25.0 Ca

[2017-04-11 08:02] vegasbrianc commented on #36
HI @maheshmadpathi thanks for your message. It looks as though your compose file is missing the below expose element in the cAdvisor service. Without 8080 being exposed, Prometheus doesn't know what port to connect to.  Trying adding the below to the cAdvisor section then login to Prometheus and open the menu Status -> Targets and you should see the status of cAdvisor.

[code]

[2017-04-11 08:03] vegasbrianc commented on #36
Hi @maheshmadpathi One more thing I see missing is the networks section for each service. Take a look at my compose file and compare https://github.com/vegasbrianc/prometheus/blob/version-2/docker-compose.yml

[2017-04-12 06:09] gyliu513 opened #37 "How can set up a multi node cluster for this?"
Does there are any steps can help me to install a multi node cluster? Thanks!

[2017-04-12 06:19] vegasbrianc commented on #37
Hi @gyliu513 Are you running a Swarm cluster?

[2017-04-12 06:49] gyliu513 commented on #37
No, I was setting up this locally. I can set up a multi cluster now by updating`prometheus/prometheus.yml` by adding more `scrape_configs`, it is working now, so no problem, thanks @vegasbrianc

[2017-04-12 06:49] #37 closed

[2017-04-12 06:53] vegasbrianc commented on #37
Hi @gyliu513 Exactly, if you run this in Swarm you can then just tell the services to autoscale to all nodes of the cluster as well. Enjoy!

[2017-04-12 06:58] gyliu513 commented on #37
@vegasbrianc it's a great project to help me set up a monitor system for containers, cool!

[2017-04-12 07:53] maheshmadpathi commented on #36
Hi @vegasbrianc I tried with both the options above but it didnt work for me, we have a `haproxy` in another `docker network` but I added the external network to Prometheus suite's network.

[code]

[2017-04-12 08:34] vegasbrianc commented on #36
@maheshmadpathi If you exec into the Prometheus container can you access the cadvisor:metrics ?

[2017-04-12 09:56] maheshmadpathi commented on #36
Hi, I don't see any cAdvisor Metrics in Prometheus Container, I only see the metrics of Prometheus itself.

I don't connect to cAdvisor from Prometheus container with nc on port 8080 but they are part of same network

[2017-04-12 10:34] vegasbrianc commented on #36
If you open http://<host ip address>:8080/metrics do you see the metrics?

Try also adding the below to your networks section

        driver: bridge

[2017-04-18 19:32] maheshmadpathi commented on #36
I get below error
[code]
http://127.0.0.1:8080/ doesn't open and I Opened a tunnel for accessing 8080 port and I get cURL(7) error

[code]

[code]

I even tried building an Image with 8484 port which didnt work either :(

[2017-04-25 07:17] byrnedo opened #41 "Finding nodes to scrape"
Hi,
I was looking around at how to get prometheus and cadvisor going on swarm mode and came across your version-2 branch. Just wondering: how does prometheus know/fetch the list of nodes in the cluster in order to scrape them?

Edit:

Shortly after I came across this: https://grafana.com/dashboards/609
I guess I'd need to do the same in prometheus.yml:
[code]

[2017-04-25 13:19] mjdavies opened #42 "Using this with docker-cloud"
Hi Brian

Loving the software, worked like a dream in my local docker.

I'm now attempting to port your docker-compose.yml file over to a docker-cloud stack file, and also add the files needed to my node on AWS so I can use this software.

https://docs.docker.com/docker-cloud/apps/stack-yaml-reference/

I think I'm nearly there.

I'll attach what I've got so far for the stack file.

I can browse t

[2017-05-03 09:45] maheshmadpathi commented on #36
@vegasbrianc I fixed all the issues, the `Docker DNS` was the issue, you close this issue.

[2017-05-22 16:47] amosbird opened #43 "cannot start prometheus and alertmanager"
I followed the instruction, which is just `docker-compose up -d`. However, there are two components not starting correctly.
[code]

Env:

Centos 7.3.1611

[root@142 prometheus]# docker version
Client:
 Version:         1.12.6
 API version:     1.24
 Package version: docker-common-1.12.6-16.el7.centos.x86_64
 Go version:      go1.7.4
 Git commit:      3a094bd/1.12.6
 Built:           Fri Apr 14 13:

[2017-06-17 15:34] #43 closed

[2017-06-19 12:33] vegasbrianc commented on #43
Hi @amosbird Did you resolve this?

[2017-06-19 12:35] vegasbrianc commented on #42
Hi @mjdavies Two things to check.

1. Be sure that cadvisor has permission to access the rootfs. This could be a problem in docker-cloud as it may prevent this access.
2. Check cadvisor to see if it is receiving the metrics. http://cadvisor_IP:8080

[2017-06-19 12:40] vegasbrianc commented on #41
Hi @byrnedo You just need to add the IP of the targets you wish to scrape. I recommend reading this article as it explains how to setup multiple nodes with Prometheus/Swarm - https://medium.com/@basilio.vera/docker-swarm-metrics-in-prometheus-e02a6a5745a

[2017-06-19 12:40] #41 closed

[2017-06-19 12:40] amosbird commented on #43
@vegasbrianc yeah, I'm not sure what caused this. I just removed node-exporter from compose.yml ...

[2017-06-19 12:40] vegasbrianc commented on #36
@maheshmadpathi Thanks for the update. Closing

[2017-06-19 12:40] #36 closed

[2017-06-19 12:41] vegasbrianc commented on #42
Closing issue unless further issues arise.

[2017-06-19 12:41] #42 closed

[2017-06-21 11:45] vegasbrianc commented on #43
@amosbird Indeed strange. Let me know if this happens again.

[2017-06-24 06:12] Tagussan opened #44 "Reverse proxy support"
Where should I write some config for reverse proxy? (ex [http://docs.grafana.org/installation/behind_proxy/](url)

[2017-06-26 04:47] llitfkitfk commented on #44
you can try https://traefik.io/
just need add some label for grafana container

[2017-06-27 00:19] Tagussan commented on #44
Cool!! I succeeded in placing grafana behind reverse proxy.
Thank you so much!

[2017-06-27 00:19] #44 closed

[2017-07-24 10:58] chasgames opened #45 "data retention"
Hello

I'm new to all this, I was wondering how long the data retention is, and where can I change that?

btw Great project, works really well,

Thanks!

[2017-07-24 11:04] vegasbrianc commented on #45
Hi @chasgames I'm glad you find the project useful. Try having a look here for data retention settings - https://prometheus.io/docs/operating/storage/

[2017-07-24 11:04] #45 closed

[2017-07-26 08:04] vegasbrianc commented on #44
Hi @Tagussan Can you share your work?

[2017-07-26 08:46] llitfkitfk commented on #44
I think he just expose 80 port for traefik and add some label for other containers

[2017-08-01 18:05] roshu10 opened #46 "docker-compose up -d not working"
Hi,

I cloned this project and commented "alertmanager everywhere" and ran docker-compose command.

But this is not working.

[root@server prometheus]# docker-compose up -d
Removing prometheus
node-exporter is up-to-date
Starting prometheus_cadvisor_1
Recreating b835cf9227e5_b835cf9227e5_b835cf9227e5_b835cf9227e5_b835cf9227e5_b835cf9227e5_b835cf9227e5_prometheus

**ERROR: for prometheus  Cannot st

[2017-08-02 03:06] llitfkitfk commented on #46
9090: bind: address already in use

[2017-08-02 05:39] vegasbrianc commented on #46
Hi @roshu10, @llitfkitfk is correct. You have some other service running on your host using port 9090. Once you kill the other service this should start right up.

[2017-08-02 05:39] #46 closed

[2017-08-02 08:03] roshu10 commented on #46
Thanks guys @vegasbrianc @llitfkitfk

I installed prometheus on my local machine long time ago and totally forgot about it.

So when i tried to run docker-compose it was throwing some error

[2017-08-02 08:13] roshu10 opened #47 "Container is up, but prometheus dashboard is not loading"
Hi all,

I executed docker-compose up -d

and containers are successfully running as below.

CONTAINER ID        IMAGE                COMMAND                  CREATED             STATUS              PORTS                    NAMES
4adbf2bb8588        grafana/grafana      "/run.sh"                13 hours ago        Up 5 minutes        0.0.0.0:3000->3000/tcp   prometheus_grafana_1
2a0b413923db

[2017-08-02 08:39] vegasbrianc commented on #47
Hi @roshu10 try using 0.0.0.0 instead of localhost. I have seen the resolution sometimes as the issue. Let me know

[2017-08-02 09:42] roshu10 commented on #47
I tried using 0.0.0.0

its not working

[2017-08-02 10:00] vegasbrianc commented on #47
Hi @roshu10 I just tried this on my Docker for Mac with a new installation and it works. Can you tell me more about your environment? What OS, docker versions, etc. Anything

Can you run `docker-compose ps` to see the current status? Also, run `docker-compose logs` and add them both to the issue.

Thanks!

[2017-08-02 12:29] roshu10 commented on #47
Hi @vegasbrianc
I'm using centos7, Docker version is 1.12

[root@puppet-master prometheus]# docker-compose ps
          Name                         Command               State            Ports
--------------------------------------------------------------------------------------------
node-exporter               /bin/node_exporter -collec ...   Up       9100/tcp
prometheus                  /bin/p

[2017-08-02 12:45] vegasbrianc commented on #47
Hi @roshu10 It seems like the Docker daemon is not working correctly as it can not access the local files within the project. Can you start other containers on this host without issues?

For example, can you run this directly:
[code]
Here are the two errors I found in your log. The second error is worrysome as it seems to be a permission issue.

```cadvisor_1       | W0802 08:00:44.553465       1

[2017-08-02 14:56] roshu10 commented on #47
@vegasbrianc
Docker daemon is running, also i'm running docker-compose as root.
I'm actually facing this issue only in centos.
But in Ubuntu machine, its running without any issue

[2017-08-02 15:04] vegasbrianc commented on #47
Is it possible to upgrade your Docker version? A lot of improvements have been made since 1.12

[2017-08-02 15:09] roshu10 commented on #47
i have upgraded the docker version.

Now it's working fine :)

[2017-08-02 15:10] vegasbrianc commented on #47
Great news. Let me know if you have any further questions. Closing issue.

[2017-08-02 15:10] roshu10 commented on #47
Current setup will monitor only server node.

How to add any other server (using node exporter). I'm not able to find any documentation on that in internet

If possible, Can you please post some link

[2017-08-02 15:16] vegasbrianc commented on #47
Just add additional targets to monitor in prometheus. Edit the targets section in the prometheus.yml file - https://github.com/vegasbrianc/prometheus/blob/version-2/prometheus/prometheus.yml#L31

[2017-08-02 15:44] roshu10 commented on #47
@vegasbrianc
I have added the targets. but in prometheus dashboard still not showing.

[2017-08-02 15:46] roshu10 commented on #47
What's the base image is used for both the prometheus.

How to restart (or reload)t promethues configs ?
also how to install editors

[2017-08-03 07:26] vegasbrianc commented on #47
Hi @roshu10 This project utilizes the official [Prometheus image](https://hub.docker.com/r/prom/prometheus/~/dockerfile/) which is based on busybox. I would first check in Prometheus http:/0.0.0.0:9090/targets to see if your newly added target is indeed recognized and up. If so then this data should be available in Grafana.

Let me know if you see it in Prometheus.

[2017-08-03 07:33] roshu10 commented on #47
Hey @vegasbrianc
It's showing in targets.
But its not showing in grafana

[2017-08-03 07:57] llitfkitfk commented on #47
Is the targets you added  outside the docker-compose file?

[2017-08-03 08:15] nanaromance commented on #47
How to monitor docker in another server?

[2017-08-03 08:21] vegasbrianc commented on #47
hi @nanaromance take a look at the previous comment in this thread - https://github.com/vegasbrianc/prometheus/issues/47#issuecomment-319704123

[2017-08-03 09:33] roshu10 commented on #47
@vegasbrianc
Here is my target list:  http://54.164.209.139:9090/targets

But in grafana (http://54.164.209.139:3000) its not showing

[2017-08-03 09:38] nanaromance commented on #47
@roshu10  Are you install grafana in your instance yet?

[2017-08-03 09:42] roshu10 commented on #47
@nanaromance  @vegasbrianc
I have already installed grafana, also one more target machine (http://54.164.209.139:9090/targets)

its showing prometheus server stats, but not showing node stats from 54.152.138.217 (Here i'm alredy running node exporter)

[2017-08-03 10:11] vegasbrianc commented on #47
I added a sample Dashboard - http://54.164.209.139:3000/dashboard/db/brian-test?orgId=1

[2017-08-03 10:13] roshu10 commented on #47
@vegasbrianc But why its not showing in template variable ??

[2017-08-03 10:21] vegasbrianc commented on #47
OK, added the template as well. I suggest changing your password on your grafana

[2017-08-03 10:27] roshu10 commented on #47
@vegasbrianc  awesome, thanks alot.
Can you please check this dashboard (http://54.164.209.139:3000/dashboard/db/node-exporter-stats?refresh=5s&orgId=1)

I'll try to update the template variable to show the new targets there.

But didn't work there

[2017-08-03 10:29] vegasbrianc commented on #47
I see the issue. What I normally do is run node-exporter on every target host. Then you will have consistent metrics across all hosts. Could you send me your dashboards? They are really cool! brian.christner@gmail.com

[2017-08-03 10:33] roshu10 commented on #47
@vegasbrianc
I downloaded the dashboard from grafana site. There is a huge collection in here (https://grafana.com/dashboards?dataSource=prometheus)

In my current setup, Node exporter is running on 54.152.138.217 as well.

But data is not showing for that target (54.152.138.217).

[2017-08-03 10:52] vegasbrianc commented on #47
very strange. I see the target in Prometheus is OK but no data is even in Prometheus. Could you try using a DNS name instead of IP to see if that helps?

[2017-08-03 10:58] roshu10 commented on #47
I think data is already showing in prometheus (http://54.164.209.139:9090/graph?g0.range_input=1h&g0.expr=go_gc_duration_seconds&g0.tab=0) but not shown in grafana.

[2017-08-03 11:01] vegasbrianc commented on #47
Correct, but none of the node metrics display in prometheus - http://54.164.209.139:9090/graph?g0.range_input=1h&g0.expr=node_cpu&g0.tab=0

[2017-08-03 11:09] roshu10 commented on #47
Is my format is correct ??

- targets: ['54.164.209.139:9090','cadvisor:8080','54.164.209.139:9100']

What's these 3 fields mean ??

[2017-08-03 11:14] vegasbrianc commented on #47
These are correct. This is only telling Prometheus what target metric to consume.

[2017-08-03 11:15] roshu10 commented on #47
what about cadvisor, can i disable it ?

[2017-08-03 11:16] vegasbrianc commented on #47
Just remove it from the list of targets and restart prometheus

[2017-08-03 12:45] roshu10 commented on #47
I tried, still not showing the new host entry in grafana

[2017-08-03 12:53] vegasbrianc commented on #47
You also tried using hostnames instead of IP's?

[2017-08-03 12:54] roshu10 commented on #47
yea, that also not working

[2017-08-03 12:55] vegasbrianc commented on #47
Try removing the other targets and only keep the one that is not working

[2017-08-03 13:18] roshu10 commented on #47
Tried, that also having no effect

[2017-08-03 14:31] vegasbrianc commented on #47
Odd, I have not seen this before. I would assume it has something to do with the container. Could you try running a exporter on a different host to see if it works?

[2017-08-04 06:57] Demaunt opened #48 "Filtering docker containers to be monitored"
Hello.

**TASK**: Monitor docker_container built from several images

Query for monitoring **particular** container:
`sort_desc(sum by (name) (rate(container_network_receive_bytes_total{name="node-exporter"}[1m] ) ))`
It works as expected, showing data of particular container.
![image](https://user-images.githubusercontent.com/3995821/28957605-c4a6b83a-791c-11e7-8478-7ac55cf1e689.png)

Same goes f

[2017-08-04 07:26] vegasbrianc commented on #48
Hi @Demaunt Thanks for your comment. I hope you find the project useful. I recommend running your query directly in Prometheus as it provides a bit better interface for errors, etc. Let me know the results once you run it in Prometheus.

[2017-08-04 07:49] Demaunt commented on #48
Thx for answering
I executed query in native Promethues: `sort_desc(sum by (name) (rate(container_network_receive_bytes_total{name="node-exporter", name="prometheus"}[1m] ) )) `
![image](https://user-images.githubusercontent.com/3995821/28959101-30170ede-7923-11e7-97b7-2fe7286d4f02.png)
And it gave warning: no datapoints found.

Looks like I was mistaken from the beginning: Prometheus query filter

[2017-08-04 07:55] vegasbrianc commented on #48
@Demaunt Can we close this?

[2017-08-04 07:56] Demaunt commented on #48
yes, sure, my bad for creating "garbage" issue

[2017-08-04 07:57] vegasbrianc commented on #48
Not garbage. I've run into tons of similar situations. Good luck with your project!

[2017-08-04 07:57] #48 closed

[2017-08-04 07:58] vegasbrianc commented on #47
@roshu10 Are you able to run a new node_exporter on another host for testing?

[2017-08-04 08:13] roshu10 commented on #47
@vegasbrianc
i'm launching a new test server, will install it today

[2017-08-04 10:59] nanaromance commented on #47
@vegasbrianc  it's not work when i try to monitor another server.

[2017-08-04 11:04] vegasbrianc commented on #47
@nanaromance can you explain your configuration? Also, describe your targets and status of the targets in Prometheus.

[2017-08-06 14:41] roshu10 commented on #47
@nanaromance I have changed the configuration and its working now.

All our boxes on AWS, so I used **ec2_sd_configs** config to add the targets.

my config file now:
global:
  scrape_interval: 1s
  evaluation_interval: 1s

scrape_configs:
  - job_name: 'node'
    ec2_sd_configs:
      - region: ap-southeast-1
        access_key: xxxxxxxxxxxxxxxx
        secret_key: xxxxxxxxxxxxxxxxxxxxxxxxxx

[2017-08-06 14:43] roshu10 commented on #47
@vegasbrianc  i need to monitor 100 servers from prometheus.

Please let me know the good practice, do i need to change any config in above file

[2017-08-08 10:07] nanaromance commented on #47
@roshu10 Your config is working with AWS EC2 environment prometheus is scrape all of the server is have node_exporter service running. You can monitor

But, I've a problem i'm used @vegasbrianc  template on Grafana (https://grafana.com/dashboards/893)
local monitor is change but container monitor is not change i've try to query with (http://xx.xx.xx.xx:9090/)graph on target server is cannot insert

[2017-08-08 10:53] vegasbrianc commented on #47
@nanaromance Are you monitoring 100 Docker hosts or ECS hosts? Please let me know what the target machines are. Thanks.

[2017-08-08 10:56] vegasbrianc commented on #47
@nanaromance The configuration you mentioned above only monitors EC2 instances and not containers. If you need to monitor ECS as well you should include this - https://github.com/slok/ecs-exporter

[2017-08-08 12:23] nanaromance commented on #47
@vegasbrianc I'm monitor docker in ec2 instance not ECS.

[2017-08-09 09:13] vegasbrianc commented on #47
@nanaromance OK, this configuration doesn't have any component monitoring the docker host or containers for these instances. The configuration you mentioned only monitors the EC2 instance.

I'm not sure if you are running standalone Docker hosts or Docker Swarm. This would depend on what should be implemented. But as a quick note you will need a cAdvisor or node-exporter running on each Docker hos

[2017-08-09 12:18] roshu10 commented on #47
@vegasbrianc hey, we have some use cases where prometheus monitors 100+ servers.
But these servers are in different firewall.
So we have to use push gateway for this.
Will the current setup support this ?

[2017-08-17 08:52] vegasbrianc commented on #47
If you are monitoring 100+ servers I would have a look at this - https://www.robustperception.io/scaling-and-federating-prometheus/

Shall we close this as this is no longer the original issue? If it is still open please open a new issue. Thanks!

[2017-08-17 10:32] roshu10 commented on #47
@vegasbrianc
Thanks a lot for this amazing project.
This really helped to setup prometheus :)

[2017-08-17 10:33] #47 closed

[2017-08-17 10:34] roshu10 opened #51 "Support for pushgateway"
Hi guys,

Few of our servers are behind firewall.

So we are thinking of Push gateway.

Does this project include Pushgateway ??

[2017-08-17 11:01] vegasbrianc commented on #51
Hi @roshu10 This will support a Pushgateway. You will only need to setup each Pushgateway as a new target in the [prometheus/prometheus.yml](https://github.com/vegasbrianc/prometheus/blob/version-2/prometheus/prometheus.yml) file

Here's the documentation on setting up a PushGateway with Prometheus. Hope this helps - https://github.com/prometheus/pushgateway#configure-the-pushgateway-as-a-target-t

[2017-08-17 11:31] roshu10 commented on #51
Hi @vegasbrianc  i have tried this.
I set **honor_labels: true** as mentioned in the guide.

scrape_configs:
  - job_name: 'node'
    honor_labels: true
    ec2_sd_configs:

But still when i pushed data using pushgateway (It will show success when i run).

Data data is not being shown either in Prometheus/Grafana

[2017-08-17 11:39] vegasbrianc commented on #51
Can you `curl` the pushgateway from the Prometheus server?

[2017-08-17 12:11] roshu10 commented on #51
I executed this command on my local machine:

echo "some_metric 3.14" | curl --data-binary @- http://x.x.x.x:9091/metrics/job/some_job

x.x.x.x was my Prometheus server.

It executed successfully but no errors

[2017-08-17 12:12] vegasbrianc commented on #51
Is your local machine the same as where Prometheus runs? If not try it again on the Prometheus server. If this works that means Prometheus should also be able to retrieve these metrics.

[2017-08-17 12:15] roshu10 commented on #51
Yea tried.

Its executing without any error, but no output also

[2017-08-17 12:18] vegasbrianc commented on #51
What metrics is your application pushing to the gateway?

[2017-08-17 12:18] roshu10 commented on #51
I'm trying to push node exporter metrics

[2017-08-17 12:21] vegasbrianc commented on #51
My understanding is the Pushgateway is used to integrate directly into your application and gather application metrics. This is not intended to interface with Node Exporter - https://github.com/prometheus/pushgateway#non-goals

[2017-08-17 12:23] roshu10 commented on #51
ok,

my case is node_exporter is running on all the nodes,

But prometheus can't reach these hosts.

So i want to push all these data that i received from node_exporter to Prometheus server

[2017-08-17 12:28] vegasbrianc commented on #51
Hmm, that's difficult. Prometheus needs some way to connect to the node exporters to get the metrics. An alternative is to create a separate management network just for monitoring.

[2017-08-17 12:29] vegasbrianc commented on #51
or change the port of the node_exporter so it is allowed

[2017-08-17 12:50] vegasbrianc commented on #51
@roshu10 closing this issue as it is related to your firewall and not Prometheus or the stack.

[2017-08-17 12:50] #51 closed

[2017-08-18 07:57] roshu10 opened #53 "Grafana taking too much time to load"
Hi guys,

I'm currently maintaining 100 servers.

When we tried to load graph, its taking too much time to load.

Do we need to change any configuration to improve the performance

Thanks,

[2017-08-22 02:48] Yangsheng93 opened #54 "Can not select the host statistics container"
After checking the node host, but can not display the node host resources and the host running the container. I would like to achieve by checking the host to show the host running the container, and the consumption of resources.
      Finally thank you for your contribution！

[2017-08-22 07:07] vegasbrianc commented on #53
Hi @roshu10 Prometheus out of the box will monitors a lot more than 100 servers. I would be sure to check the performance on the server which you install the monitoring stack. Make sure you have enough memory & CPU.

[2017-08-22 07:07] #53 closed

[2017-08-22 07:29] vegasbrianc commented on #54
Hi @Yangsheng93 How are you trying to view the node, via Grafana? Can you provide your queries, screenshots, or other troubleshooting information?

[2017-08-22 08:38] Yangsheng93 commented on #54
![4444444](https://user-images.githubusercontent.com/15967300/29556072-43f04190-8757-11e7-8d7a-18aa93d4ac71.png)

I am using the https://grafana.com/dashboards/893 template，After I selected the host node, I found a summary of all the host containers.Feeling that a container running a host failed,I tried to change it "count(rate(container_last_seen{name=~".+"}[$interval]))" for "count(rate(containe

[2017-08-22 14:51] vegasbrianc commented on #54
I would recommend running the query in Prometheus directly as it could be possible it is reporting false positives. The count can be tricky. Are all graphs showing the same or only a couple?

[2017-08-23 01:34] Yangsheng93 commented on #54
Has been resolved, thank you for your help.

[2017-08-23 01:34] #54 closed

[2017-08-23 05:36] vegasbrianc commented on #54
Hi @Yangsheng93 Can you let me know what fixed your issue? Thanks!

[2017-08-23 07:47] Yangsheng93 commented on #54
Hi @vegasbrianc Changed part of the content，E.g: sum(container_memory_rss{instance=~"$server:.*",name=~".+"}) by (name)，So you can choose the host query. but，I have encountered a new problem，When I delete some containers in the docker host, grafana view or so many containers, which makes me very upset.
![_20170823153840](https://user-images.githubusercontent.com/15967300/29604164-38f999c2-8819-11e

[2017-08-23 09:07] vegasbrianc commented on #54
Sum will leave the last value. You should use count and provide time range. This will prevent this from happening - https://prometheus.io/docs/querying/examples/

[2017-08-29 03:45] roshu10 opened #56 "Prometheus taking too much disk space"
Hi guys,

We have been using Prometheus from past 2 weeks.

Total 100 hosts we are monitoring.

But prometheus_data file is consuming nearly 200 GB already.

Is there any way to compress the data ?

[2017-08-29 09:52] ntwobike opened #57 "Grafana admin password doesn't reset if the volume is already created"
This is actually a question might be the this is the intended way!
If you already have the grafana_data volume created changing the  GF_SECURITY_ADMIN_PASSWORD in the config.monitoring wont change the password.

[2017-09-01 12:38] c3r63ru5 commented on #57
Thats a good hint, I was adding variables to config.monitoring and was wondering why they would not have any effect...

[2017-09-10 15:42] huegelc opened #58 "Consoles not accessible"
I´m trying to access /consoles/node.html but it seems those files are missing in the container

[code]
Any idea how to fix this? Thx

[2017-09-10 16:05] huegelc commented on #58
Done in: https://github.com/vegasbrianc/prometheus/pull/59

[2017-09-10 16:05] #58 closed

[2017-09-11 10:43] orngeno commented on #28
Hi
I am new to Prometheus and grafana monitoring tool.
![promerrongraf](https://user-images.githubusercontent.com/31848376/30270884-d4e39eea-970b-11e7-847d-58a0738a6d9c.PNG)
I got this error when i tried to create prometheus data source in grafana.
Can you please help me in creating datasource.
thank you

[2017-09-11 11:16] vegasbrianc commented on #56
Hi @roshu10 Just back from holidays. Have a look here - https://prometheus.io/docs/operating/storage/ Also, I would consider trimming the amount of metrics you are gathering.

[2017-09-11 11:16] #56 closed

[2017-09-11 11:17] vegasbrianc commented on #57
@ntwobike Just back from holidays.  I will dive into this and let you know.

[2017-09-11 11:26] vegasbrianc commented on #28
Hi @orngeno Try copying the settings in this screenshot. You need:

Access: Proxy
URL: http://prometheus:9090
Make sure to mark default as yes as well

Let me know if not open a new issue. Thanks!

[2017-09-11 11:31] orngeno commented on #28
Hi @vegasbrianc and thanks for your suggestion. I tried with the steps which you have provided. This time it displayed this error.
![image](https://user-images.githubusercontent.com/31848376/30272582-c5249c46-9712-11e7-92ac-8080e70535a4.png)

[2017-09-11 11:44] vegasbrianc commented on #28
@orngeno Strange, Can you open the Docker logs to see what they are saying about Prometheus. You can run `docker-compose up` without the -d which will show the logs in the foreground. Next, try to login and copy and paste the logs in a new GitHub issue. Cheers

[2017-09-11 11:52] orngeno commented on #28
Thank you @vegasbrian.

[2017-09-12 12:51] vegasbrianc commented on #57
Hi @c3r63ru5 , @ntwobike I found out the password variable is only used during initial setup and not used afterward. Have a look here - http://docs.grafana.org/installation/configuration/#security

[2017-09-12 12:51] #57 closed

[2017-09-19 11:56] Berndinox opened #60 "Wrong Compose v3 Format"
There are some wrong Definition in the compose file.

in v3:

- Link is not necessary
- Expose ist not necesarry
- container_name is not supported
- "restart" policy should be placed inside "deploy"

I can also recommand using:
[code]
for prometheus

have a look at: https://github.com/Berndinox/compose-v3-collection/blob/master/metrics/metrics.yml

[2017-09-19 21:00] vegasbrianc commented on #60
HI @Berndinox Thanks for the suggestions. I will be sure to update the project soon. I have been delaying splitting the compose files for some time but it seems like I will need to create a standalone and swarm file to eliminate some confusion.

* Link is deprecated and is just legacy from the beginning
* Expose was just being used as a placeholder for ports being used so we know what to change if

[2017-09-19 21:00] #60 closed

[2017-09-28 13:35] roshu10 commented on #56
@Berndinox Retention period will be applied on cached data or on permanent data ?

[2017-09-28 13:41] roshu10 opened #61 "Is this possible to use CollectD as exporter"
Hey,

Is it possible to use CollectD as exporter ?

I mean, CollectD only collects the data from remote server and push that to Prometheus server.

This way we have implement **Push concept** without using push gateway

[2017-09-28 13:47] Berndinox commented on #56
memory chunks is to restrict memory usage, the second one, local retention, is for storage usage.

[2017-09-28 14:00] vegasbrianc commented on #61
Hi @roshu10 Prometheus has already created such an exporter. Take a look - https://github.com/prometheus/collectd_exporter

[2017-09-28 14:00] #61 closed

[2017-09-28 14:08] roshu10 commented on #61
Awesome

Thanks !!

[2017-09-28 14:10] roshu10 commented on #61
However, inorder to implement CollectD exporter, there is no changes in your project is not required right ?

[2017-10-01 20:18] vegasbrianc commented on #61
@roshu10 This project should work without changes. You just need to setup the exporter as an additional target within Prometheus. Let me know how it works as I'm interested how you like it.

[2017-10-04 11:25] rkgithubp opened #62 "No data displayed for AWS ECS containers"
Hi,

I set this up on AWS ECS container instance, but did not get any data for containers running in Grafana dashboard that you have shared.
Does this stack work with AWS ECS containers? i am looking at some way to monitor individual containers running in ECS.

[2017-10-05 04:51] vegasbrianc commented on #62
It should work with a bit more configuration as this stack is intended as a starter stack for Docker native. In ECS, you should deploy a node-exporter to every cluster node in ECS. You then have to setup each exporter as a target. This will ensure whatever is running will provide metrics to the node-exporter. Next, to get ECS cluster metrics you should configure - https://github.com/slok/ecs-expor

[2017-10-05 04:51] #62 closed

[2017-10-09 02:38] nanaromance opened #63 "Cannot start node-exporter"
When i run docker-compose up -d
node-exporter is not start normally.

[2017-10-09 04:14] vegasbrianc commented on #63
Hi @nanaromance Could you please provide the logs for node-exporter?

[2017-10-09 06:10] nanaromance commented on #63
@vegasbrianc
node_exporter: error: unknown short flag '-c', try --help

[2017-10-09 07:05] vegasbrianc commented on #63
I think I found the issue. Could you try replacing line 45 in the docker-compose.yml file? It appears the command has been updated for the node-exporter to include 2 x ```--``` in from the command arguement:

change from this:
```command: '-collector.procfs=/host/proc -collector.sysfs=/host/sys -collector.filesystem.ignored-mount-points="^(/rootfs|/host|)/(sys|proc|dev|host|etc)($$|/)" collector.f

[2017-10-09 07:28] nanaromance commented on #63
@vegasbrianc node_exporter: error: unknown long flag '--collector.procfs', try --help

[2017-10-09 07:47] vegasbrianc commented on #63
OK, @nanaromance Tell me what OS, Docker version you are running and any other information about your setup and I will get it sorted out

[2017-10-09 07:52] nanaromance commented on #63
@vegasbrianc
Ubuntu 16.04.2 LTS
17.09.0-ce
git clone from https://github.com/vegasbrianc/prometheus.git
docker-compose up -d
---------------------

[2017-10-09 08:05] nanaromance commented on #63
@vegasbrianc
Temporary solve this issue.
I'm used
`docker run -d -p 9100:9100 \
  -v "/proc:/host/proc:ro" \
  -v "/sys:/host/sys:ro" \
  -v "/:/rootfs:ro" \
  --name prometheus_node-exporter_1 \
  prom/node-exporter \
    --path.procfs /host/proc \
    --path.sysfs /host/sys \
    --collector.filesystem.ignored-mount-points "^(/rootfs|/host|)/(sys|proc|dev|host|etc)($$|/)" \
	--collector.filesyst

[2017-10-09 08:46] vegasbrianc commented on #63
Hmm strange. I wondering if it is a problem with compose version.

[2017-10-09 08:49] nanaromance commented on #63
docker-compose version 1.16.1, build 6d1ac21
docker-py version: 2.5.1
CPython version: 2.7.13
OpenSSL version: OpenSSL 1.0.1t  3 May 2016

[2017-10-09 08:53] vegasbrianc commented on #63
Sorry, I meant compose file version 3. I will check that later on. I know both Prometheus and node-exporter changed a lot in terms of compose commands. I will review and keep you posted.

[2017-10-09 09:39] nanaromance commented on #63
Hi @vegasbrianc
Could you help me something right now i'm used prometheus to monitor multiple server.
But when i filter with `sum(rate(container_network_receive_bytes_total{instance=~"$server.+"}[$interval])) by (name)` Legend format `{{name}}` It's have 1 container show in my dashboard. This container is not have in real container.

![image](https://user-images.githubusercontent.com/29445032/3133

[2017-10-09 09:41] vegasbrianc commented on #63
@nanaromance Have you setup Prometheus to scrape all of the servers? Afterward, you can then setup a template to switch views between the different servers - http://docs.grafana.org/reference/templating/

[2017-10-09 09:57] nanaromance commented on #63
@vegasbrianc
I can monitor multiple server normally but have 1 container show in dashboard. It's can't filter out.

[2017-10-09 10:27] vegasbrianc commented on #63
So the container you wish to view doesn't show in the list? I would then go to the Prometheus Dashboard and use the built in queries. Once you build the query the way you desire, copy it to Grafana.

[2017-10-09 20:25] vegasbrianc commented on #63
The fix in #64 should work for you. I have to wait to merge this until I find a fix for MacOS.

[2017-10-11 05:55] vegasbrianc commented on #63
Hi @nanaromance @pengjia After much trial and error I finally got it working. I will roll out the patch later today.

[2017-10-13 08:02] c3r63ru5 commented on #63
This is still causing trouble for me, even after the changes from #64
The container starts up properly but prometheus won't connect for some reason...

[2017-10-13 09:32] vegasbrianc commented on #63
Hi @c3r63ru5 I think I know what the issue is. Could you try adding `- back-tier` to the network section of the node-exporter. I think my latest update I forgot to add it back in.

[2017-10-14 10:52] c3r63ru5 commented on #63
Thanks @vegasbrianc, this works now... not sure if it was the missing back-tier network or some other problem as I changed a couple of more things.

[2017-10-15 20:57] vegasbrianc commented on #63
hi @c3r63ru5 Can you provide your docker-compose file so I can compare?

[2017-10-17 10:44] Zikoel opened #66 "Permission denied on statfs()"
When I start docker-composer on log output I see a bunch of error every time metrics was called from prometeus. The error was permissions denied:

`node-exporter_1  | time="2017-10-17T10:40:38Z" level=error msg="Error on statfs() system call for \"/rootfs/run/docker/netns/default\": permission denied" source="filesystem_linux.go:57"`

`node-exporter_1  | time="2017-10-17T10:40:38Z" level=error msg

[2017-10-17 19:31] vegasbrianc commented on #66
Hi @Zikoel Are you running this on Mac? If so comment out the node-exporter section in the docker-compose

[2017-10-18 05:44] vegasbrianc commented on #63
I disabled the node-exporter in the stack until we figure out why it is not behaving correctly across the different OS platforms. In the mean time cAdvisor is still working.

[2017-10-18 05:44] vegasbrianc commented on #66
I disabled the node-exporter in the stack until we figure out why it is not behaving correctly across the different OS platforms. In the mean time cAdvisor is still working.

[2017-10-18 06:58] vegasbrianc opened #67 "Collaboration on the project"
Hello @philicious @llitfkitfk @paul-wiz

I'm looking volunteers to help me manage this project. I would really appreciate any help you guys can offer and add you as maintainers to the project.

Since this project has gained quite some popularity it would be great to continue adding new features to the stack.

Please let me know.

Thanks Brian

[2017-10-18 08:33] llitfkitfk commented on #67
I will.

BTW: Both @llitfkitfk @paul-wiz  are my github account.

[2017-10-18 08:52] vegasbrianc commented on #67
@llitfkitfk HAHA good one. Thanks for becoming a contributor!

[2017-10-18 09:17] philicious commented on #67
heya @vegasbrianc yes I will also help out where I can !

[2017-10-18 10:40] vegasbrianc commented on #67
Thanks @llitfkitfk @philicious Perfect, I will setup a project so we can track and create a wish list of features.  I'm really looking forward to this.

[2017-10-22 11:12] c3r63ru5 commented on #63
@vegasbrianc: Here's my working version. To be honest, I think its more or less the same as the yours (last revision).

[code]

[2017-11-01 17:10] alex-bender commented on #66
Same here.
System: debian 8.
Started `node-exporter` inside docker,
page `http://0.0.0.0:9100/metrics` is accessible from browser (0.0.0.0:9100 is my node)
but I see `Get http://0.0.0.0:9100/metrics: dial tcp 0.0.0.0:9100: getsockopt: connection refused` on page `http://localhost:9090/targets`

[code]
[code]

[code]

[2017-11-02 02:32] llitfkitfk commented on #66
https://github.com/prometheus/node_exporter/issues/392

[2017-11-02 10:22] roshu10 opened #68 "Prometheus not starting properly"
Hey guys,

I have started the containers, But prometheus is not starting properly.

docker ps:
![screenshot from 2017-11-02 15-50-55](https://user-images.githubusercontent.com/5113397/32321056-e073983e-bfe5-11e7-8b10-4f3eaf51d15f.png)

[2017-11-02 10:44] briansiemens commented on #68
Hi @roshu10 Can you provide the logs to prometheus?

[2017-11-02 10:46] vegasbrianc commented on #68
Hi @roshu10 Can you provide the logs for Prometheus? Also, could you tell me how you are starting the stack?

[2017-11-02 11:04] roshu10 commented on #68
i'm starting with docker-compose up -d

[2017-11-02 11:05] roshu10 commented on #68
Logs:
time="2017-11-02T11:03:44Z" level=info msg="Starting prometheus (version=1.8.1, branch=HEAD, revision=3a7c51ab70fc7615cd318204d3aa7c078b7c5b20)" source="main.go:87"
time="2017-11-02T11:03:44Z" level=info msg="Build context (go=go1.9.1, user=root@ab78fb101775, date=20171023-15:50:57)" source="main.go:88"
time="2017-11-02T11:03:44Z" level=info msg="Host details (Linux 3.10.0-514.26.2.el7.x86_6

[2017-11-02 13:43] vegasbrianc commented on #68
This repo is using the docker stack deploy command and not compose. Have a look here: https://github.com/vegasbrianc/prometheus/blob/version-2/README.md#installation--configuration

Let me know if this solves it or not.

[2017-11-03 06:44] vegasbrianc commented on #68
@roshu10 were you able to get this resolved?

[2017-11-03 08:17] roshu10 commented on #68
@vegasbrianc
Hey, is it possible to keep compose version bit low.
because most of the people are using docker 17.03.1-ce
Version - 3.2 is supported in docker 17.04 on wards.

So when i run `docker stack deploy -c docker-compose.yml prome`

i get "unsupported Compose file version: 3.2"

[2017-11-03 08:43] llitfkitfk commented on #68
#69

[2017-11-03 09:32] roshu10 commented on #68
I have upgraded the docker engine.

But prometheus is not coming up

![screenshot from 2017-11-03 15-00-39](https://user-images.githubusercontent.com/5113397/32367396-f007471a-c0a7-11e7-9694-fd3ceb466d84.png)

[2017-11-03 10:49] roshu10 commented on #68
Even though it says prometheus is up, "docker ps" is not listing prometheus container

[2017-11-05 11:44] philicious commented on #68
I just tested with version 17.09.0-ce on a Mac and its working fine.

Looks like your problem has to do with permissions or the file `/etc/prometheus/prometheus.yml` might be missing in the container. Have you looked into that ?

[2017-11-05 14:05] roshu10 commented on #68
SELinux was running.

It was blocking couple of things,

Now it's working fine :)

[2017-11-05 14:05] #68 closed

[2017-11-09 03:08] roshu10 opened #71 "Off topic : How do prometheus justify running so many containers?"
Hey guys,

If there are 10 different services running on one of our server, then we need 10 different exporters to collect the metrics from.

Which means 20 container will run over there.

If we use collectd with influx then it's just one collectd running over client.

How prometheus justify running these many containers from resource utilization/security point of view ?

[2017-11-09 05:47] vegasbrianc commented on #71
Hi @roshu10 You only need one exporter running per server. This can then gather metrics from all containers running on that server. Furthermore, when you start scaling it becomes even easier as you only deploy one additional exporter per new server going forward.

Depending on your infrastructure you can also gather metrics directly from the IaaS platform, orchestrator (Docker Swarm) or proxies ru

[2017-11-09 07:09] #71 closed

[2017-11-09 08:12] vegasbrianc commented on #71
@roshu10 Honestly, I would start small and grow into what you want to monitor. You don't want to overalert yourself/infrastructure.

1 x Node Exporter will also get all the data from the containers you mentioned. If you need detailed information I would only select the services which you need to dive into. If you do deep monitoring for each service it is quite intensive regardless if it is Prometh

[2017-11-09 08:12] IvanBoyko commented on #71
I think the design of Prometheus is to push monitoring logics to the lower levels.
This includes adding monitoring capabilities right inside the applications - many of the modern ones already expose their metrics in Prometheus way. Then you only need 1 container with Prometheus itself where you define all the targets to scrape.

[2017-11-09 21:33] matt328 opened #72 "Incompatible with prom/prometheus:latest"
## Expected Behaviour
`docker swarm deploy -c docker-compose.yml prom` should deploy and start up everything.

## Current Behaviour
The prometheus container fails to start with `Error parsing commandline arguments: unknown short flag '-c'`

## Possible Solution
It looks like a new prometheus image was pushed very recently that includes many breaking changes w.r.t. command line flags and config fil

[2017-11-10 02:52] llitfkitfk commented on #72
Error parsing commandline arguments: unknown short flag '-c':
It's `docker stack deploy -c docker-compose.yml prom`

[2017-11-10 08:06] roshu10 opened #73 "Not working after Prometheus 2.0 got released"
Hey guys,

After the release of Prometheus 2.0, prometheus container is keep on restarting.

[2017-11-10 08:12] llitfkitfk commented on #73
#69

[2017-11-10 09:05] #73 closed

[2017-11-10 09:06] llitfkitfk commented on #72
fixed in #69
pull & retry

[2017-11-10 09:06] #72 closed

[2017-11-10 15:57] sradnev commented on #66
Refer to [this comment](https://github.com/prometheus/node_exporter/issues/711#issuecomment-339606575).

You'll have to run as root or ignore those mountpoints, i.e. run node_exporter with something like `--collector.filesystem.ignored-mount-points "^/rootfs/(var/lib/docker/)|(run/docker/netns/).*"`.

[2017-11-13 15:46] vegasbrianc commented on #66
@Zikoel Is this working for you based on the information provided?

[2017-11-13 15:47] vegasbrianc commented on #67
Done. Thanks @llitfkitfk @philicious

[2017-11-13 15:47] #67 closed

[2017-11-13 15:48] vegasbrianc commented on #63
Is this still open @nanaromance ?

[2017-11-14 02:47] llitfkitfk commented on #63
Works fine in Ubuntu

![](https://user-images.githubusercontent.com/2404785/32760347-d520ba2e-c928-11e7-8360-881624aecd12.png)

reopen it, if other problems occur

[2017-11-14 02:47] #63 closed

[2017-11-14 04:29] llitfkitfk commented on #66
fixed in #74

[2017-11-14 04:33] #66 closed

[2017-11-16 21:56] josephholsten opened #75 "node-exporter: ignore /rootfs/var/lib/docker/aufs"
## Expected Behaviour

Run `docker-compose start node-exporter`

## Current Behaviour

errors like
[code]

## Possible Solution

add `/rootfs/var/lib/docker/aufs` to `--collector.filesystem.ignored-mount-points`

## Your Environment
Include as many relevant details about the environment you experienced the bug in
* Docker version from `docker version`:
[code]

* Operating System and version:

from

[2017-11-17 00:51] llitfkitfk commented on #75
#76

[2017-11-17 00:51] #75 closed

[2017-11-18 09:51] stonecold123 opened #77 "prometheus and alertmanager in pending status due to "no suitable node" error in swarm mode"
## Expected Behaviour
I expect the prometheus and alertmanager can run out of the box.

## Current Behaviour

There is no problem with prometheus when I do `docker-compose up`. I can access `localhost:9090`.

But when the swarm mode is on and use `docker stack deploy -c docker-compose.yml prom`, the prometheus and alertmanager are in pending status and can not be accessed via  `localhost:9090` or

[2017-11-19 03:16] llitfkitfk commented on #77
you need modify constraints to your swarm node hostname

[2017-11-19 08:41] #77 closed

[2017-11-19 10:15] IvanBoyko commented on #77
As it's not obvious for newbies, I suggest:
1) documenting this in main README.md
2) parameterize hostname in .env file for ease of changing

[2017-11-20 02:42] llitfkitfk commented on #77
@IvanBoyko update later

[2017-11-20 07:06] josephholsten opened #78 "updated dashboards for prom2"
## Expected Behaviour

Beautiful, useful default dashboards for viewing metrics from node_exporter, cadvisor & prometheus itself

## Current Behaviour

Lots of gaps for the prometheus dashboard

## Possible Solution

Use community dash https://grafana.com/dashboards/3662 (found via https://github.com/grafana/grafana/issues/9759, which is here this conversation is officially happening. We should al

[2017-11-20 07:15] vegasbrianc commented on #78
Hi @josephholsten Thanks for pointing this out. Indeed, the dashboard needs a refresh. I will let you know once we have updated.

[2017-11-20 08:02] Tharnas opened #79 "Docker containers only shown from one node"
Hi,

I'm running docker swarm with 2 nodes. Containers are distributed across both nodes but only containers of one node is displayed.

## Expected Behaviour
All containers in docker swarm are shown.

## Current Behaviour
Only containers from one node are displayed

## Steps to Reproduce
1. Setup docker swarm with 2 nodes
2. Install prometheus as explained (in version-2 branch)
3. Install this das

[2017-11-21 07:18] vegasbrianc commented on #79
Hello @Tharnas Thanks for your message. I believe this is related to the query in the template not working. We will be updating the dashboard shortly to support Prometheus 2.0 queries. In the meantime I recommend to install https://grafana.com/dashboards/3662 to get up and running.

[2017-11-21 07:34] vegasbrianc commented on #77
Hi @IvanBoyko Can you elaborate a bit more what is missing and I will be sure it gets added. Thanks!

[2017-11-21 08:37] IvanBoyko commented on #77
Hi @vegasbrianc
In docker-compose.yml it's restricted where to run Prometheus and Alertmanager by `node.hostname == moby`
If there's no such node in the Swarm cluster as 'moby' then it won't work.
Perhaps it makes sense parameterizing this, for example as environment variable defined in .env file.
And mention in README.md before running `docker stack deploy` to modify this hostname in the .env fil

[2017-11-21 11:41] Tharnas commented on #79
Hi @vegasbrianc
Many thanks for your help. I don't think it's an issue of Grafana (UI). For me it looks like this: Because of deploy: mode: global in the compose file cadvisor and node-exporter are running on each docker host. (node and manager) When promethous tries to scrape e.g. node-exporter then it queries http://node-exporter:9100/metrics. As there are two instances of node-exporter running

[2017-11-21 14:19] IvanBoyko commented on #79
I had a suspicion about this too.
I want to try a different approach - running Prometheus in global mode too.
I think this is how they intended this, plus use Prometheus Federation: https://prometheus.io/docs/prometheus/latest/federation/

[2017-11-21 14:34] Tharnas commented on #79
I created now a node-exporter/cadvisor service per host and placed it with deployment constrains to each docker host. After updating prometheus scrape rules I can see all containers (cadvisor) / hosts (node-exporter) in Grafana.

Here the changes in docker-compose.yml:
[code]

[2017-11-21 16:49] IvanBoyko commented on #79
Yes, but this doesn't scale very well...

[2017-11-22 02:39] llitfkitfk commented on #79
need:
https://docs.docker.com/engine/swarm/ingress/#bypass-the-routing-mesh publish ports on each node

https://docs.docker.com/engine/reference/commandline/service_create/#create-services-using-templates each service hostname using Node.Hostname (17.10+ will support https://github.com/docker/swarmkit/issues/1951 )

[2017-11-22 07:57] vegasbrianc commented on #79
Initially, the stack was built without scaling or Swarm considerations. As @llitfkitfk mentioned we should use a template to reference the hostnames instead of hard coding everywhere. This is the preferred method which will scale.

@Tharnas solution is good to get up and running but will lead to pains if you frequently scale up/down

[2017-11-22 08:21] llitfkitfk commented on #79
Should add  NOTICE(swarm mode)  in README

[2017-11-28 07:48] vegasbrianc commented on #79
Hi @llitfkitfk What should I document?

[2017-11-28 08:04] llitfkitfk commented on #79
@vegasbrianc

modify docker-compose.yml
[code]

[2017-11-28 08:19] Tharnas commented on #79
There is actually a service discovery feature build in prometheus. The issue is that is only works in docker swarm mode. I can update the pull request with documentations.

[2017-11-28 08:43] llitfkitfk commented on #79
@vegasbrianc
How about  add instruction or notice:
[code]

[2017-11-28 09:45] mabouchacra opened #81 "Volume on critical resource should be read-only"
## Expected Behaviour

Volume on critical host resources should be read-only.

## Current Behaviour

The service node-exporter has volumes on critical resources which are read-write.

## Possible Solution

Add the read-only marker on all volumes from node-exporter to secure those resources.

[code]

[2017-11-28 10:18] mabouchacra opened #83 "Remove hostname constraint in docker-compose"
Currently, in the docker-compose file, there is a constraint for both services prometheus and alertmanager. Both of them should be deployed on a node with a hostname "moby".

This constraint is meaningless.

## Expected Behaviour

You should be able to deploy the stack without any constraint or any changes to your current node(s) configuration.

## Current Behaviour

Currently, if none of your nod

[2017-11-28 11:18] llitfkitfk commented on #79
https://github.com/vegasbrianc/prometheus/commit/7b3ca393e7e3cfea136fd844f669241c894899f8

[2017-11-28 11:18] #79 closed

[2017-11-28 11:20] #83 closed

[2017-11-28 11:25] #81 closed

[2017-11-28 17:32] ntelisil commented on #66
I copied the fix (the new regex for collector.filesystem.ignored-mount-points) in my docker-compose file for node_exporter and still getting the "Error on statfs() system call... permissions denied" messages:
time="2017-11-28T17:29:34Z" level=error msg="Error on statfs() system call for \"/rootfs/var/lib/docker/aufs/mnt/07f0b6acbe62194ce8b5fd1fb73be8a478979e455040e0495a4f74a59ca4d13f/sys/fs/cgroup

[2017-11-29 03:14] llitfkitfk commented on #66
@ntelisil Can you try this:
[code]

[2017-11-29 07:36] vegasbrianc commented on #83
@llitfkitfk What do you think about keeping this section but commenting it out. I can only assume that when we deploy to multiple nodes Swarm will place Prom "Automagically"

[2017-11-29 09:02] llitfkitfk commented on #83
I tested the situation which removing the constraints section in swarm mode:
after several failures, eventually the prometheus & alertmanager service will run on the correct swarm node.

[2017-11-29 09:06] llitfkitfk commented on #83
@vegasbrianc
Commenting it out is good.

Also need update the Note instruction in README if user want to deploy the services "quickly".

[2017-11-29 09:46] mabouchacra commented on #83
@vegasbrianc about your comment on the PR :
As @llitfkitfk told, Swarm will re-schedule the task on another node.
The default repartition strategy is round-robbin, so, depending on the number of node, the "right" repartition might take some time to be set.

In order to reduce the time, you can change the constraint and replace it with `node.role == manager` as the command `docker stack deploy`only

[2017-11-29 10:47] llitfkitfk commented on #83
#85 I update the deploy using hostname env.
User just change the ENV from the command line or use the default HOSTNAME env.

And no need to modify the compose file.

[2017-11-29 12:35] ntelisil commented on #66
Unfortunately that didn't work either.
After playing a little bit I found out that the affected mount point should be part of the **ignored-mount-points**  regex":
- --collector.filesystem.ignored-mount-points
- "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|**rootfs/var/lib/docker/aufs**)($$|/)"

After adding this I no longer see

[2017-12-01 08:20] nanaromance opened #86 "Alert rule is not compatible with prometheus latest version."
The information from following link.
https://prometheus.io/blog/2017/06/21/prometheus-20-alpha3-new-rule-format/

[2017-12-01 08:23] #86 closed

[2017-12-12 10:48] gabrielstein commented on #66
Hello!

I'm using:
CentOS Linux release 7.4.1708 (Core)
Docker? No
SeLinux Enable: Tested with Enforcing and Permissive
Node Exporter v0.15.1
Systemd(Service) mit:
<pre>
[Unit]
Description=Prometheus node_exporter
Wants=basic.target
After=basic.target network.target

[Service]
User=node-exporter
Group=node-exporter
ExecStart=/usr/local/bin/node_exporter \
--collector.filesystem.ignored-mount-point

[2017-12-12 11:07] gabrielstein commented on #66
And one last thing: Version 0.14(Node Exporter) works without Problems.

[2017-12-12 14:37] llitfkitfk commented on #66
@gabrielstein
Can you add option: `--no-collector.hwmon` to node-exporter and retry?

[2017-12-14 08:30] vegasbrianc opened #88 "Ping"
@llitfkitfk Did you get my mail. Please have a look and let me know.

Brian

[2017-12-14 08:31] llitfkitfk commented on #88
Yes

[2017-12-14 09:58] #88 closed

[2017-12-27 08:02] siuwwong5 opened #89 "cadvisor cannot start"
Provide a general summary of the issue in the Title above

If you're describing a bug, tell us what should happen
If you're suggesting a change/improvement, tell us how it should work

## Expected Behaviour

## Current Behaviour
cadvisor docker container cannot start

logs:
I1227 06:57:44.608799       1 manager.go:1178] Started watching for new ooms in manager
W1227 06:57:44.608845       1 manager

[2017-12-27 08:03] siuwwong5 commented on #89
here is my docker-compose.yml:   146.222.75.203 is the host IP I deploy the prometheus.

    deploy:
      placement:
        constraints:
          - node.hostname == 146.222.75.203

[2017-12-27 08:06] llitfkitfk commented on #89
@siuwwong5   change  146.222.75.203 to <hostname>

[2017-12-27 08:25] siuwwong5 commented on #89
@llitfkitfk change 146.222.75.203 to the hostname, right?
"node.hostname == hln2184p", change like this?

[2017-12-27 08:30] siuwwong5 commented on #89
@llitfkitfk  Thanks a lot! it is working now

[root@hln2184p prometheus-version-2]# docker ps
CONTAINER ID        IMAGE                                                                                        COMMAND                  CREATED                                       STATUS              PORTS                              NAMES
b2d36cec7771        prom/alertmanager@sha256:959b4671878182f7

[2017-12-28 02:34] siuwwong5 commented on #89
@llitfkitfk Sorry, the cadvisor cannot start, and seems it keeps restart.

[2017-12-28 02:38] llitfkitfk commented on #89
@siuwwong5  Can I see the log?

[2017-12-28 02:45] siuwwong5 commented on #89
[root@hln2184p prometheus-version-2]# docker logs --follow ca3cb8ab191d
I1228 02:45:16.711905       1 storagedriver.go:50] Caching stats in memory for 2m0s
I1228 02:45:16.712716       1 manager.go:151] cAdvisor running in container: "/sys/fs/cgroup/cpuacct,cpu"
I1228 02:45:16.965053       1 fs.go:139] Filesystem UUIDs: map[]
I1228 02:45:16.965085       1 fs.go:140] Filesystem partitions: map[tmpfs

[2017-12-28 02:47] siuwwong5 commented on #89
[root@hln2184p prometheus-version-2]# ls -al /sys/fs/cgroup/cpu*
lrwxrwxrwx. 1 root root 11 May  3  2017 /sys/fs/cgroup/cpu -> cpu,cpuacct
lrwxrwxrwx. 1 root root 11 May  3  2017 /sys/fs/cgroup/cpuacct -> cpu,cpuacct

/sys/fs/cgroup/cpu,cpuacct:
total 0
drwxr-xr-x.  5 root root   0 Dec  4 14:08 .
drwxr-xr-x. 13 root root 340 May  3  2017 ..
-rw-r--r--.  1 root root   0 May  3  2017 cgroup.clone_ch

[2017-12-28 02:50] llitfkitfk commented on #89
https://github.com/google/cadvisor/issues/1846

[2017-12-28 02:52] llitfkitfk commented on #89
try this https://github.com/google/cadvisor/issues/1843#issuecomment-352416359

[2017-12-28 03:48] siuwwong5 commented on #89
Thanks a lot. The fix can help.

[root@hln2184p prometheus-version-2]# mount -o remount,rw '/sys/fs/cgroup'
[root@hln2184p prometheus-version-2]# ln -s /sys/fs/cgroup/cpu,cpuacct /sys/fs/cgroup/cpuacct,cpu

[2017-12-28 04:09] #89 closed

[2017-12-28 04:21] llitfkitfk commented on #78
updated

[2017-12-28 04:21] #78 closed

[2017-12-28 06:09] siuwwong5 opened #90 "remotely monitor docker containers in other hosts"
Would like to know if it can help on remotely monitor docker containers in other hosts? How can I setup it?

## Your Environment
Include as many relevant details about the environment you experienced the bug in
* Docker version `docker version` (e.g. Docker 17.0.05 ):
Docker 1.13.1

* Operating System and version (e.g. Linux, Windows, MacOS):
Linux

[2017-12-28 06:32] #90 closed

[2017-12-28 16:46] llitfkitfk opened #91 "Prometheus configs for docker swarm and single docker host cannot be together"

[2017-12-30 02:21] nightah commented on #91
Also experiencing this same issue, can't run this alongside my other single containers without breaking them.

[2018-01-05 04:13] gauravgoyal0086 opened #92 "display node hostname in my alert messages rather than internal IPs"
I want to display node hostname in my alert messages rather than internal IPs which are auto assigned to my containers.

Moreover since i am deploying node exporter on all SWARM nodes , how can i display each host separately

Here is my prometheus.yml file

15-096-Goyal:prometheus gaurav.goyal$ cat prometheus.yml
# my global config
global:
  scrape_interval:     15s # By default, scrape targets ev

[2018-01-08 12:56] psistorm commented on #66
Same problem here as described by @gabrielstein. Version 0.14 works perfect. The @llitfkitfk mentioned workaround with option `--no-collector.hwmon` does not work for me.

[2018-01-08 17:15] nsaud01 commented on #66
I'm still getting `Error on statfs() system call for`Error on statfs() system call for \"/rootfs/sys/kernel/debug/tracing\": permission denied" source="filesystem_linux.go:57`

Anything rootfs related is giving permission errors. This wasn't an issue in v14. My docker run command is:

[code]
Is there something I'm missing?

[2018-01-16 16:04] vegasbrianc commented on #92
Hi @gauravgoyal0086 What metrics are you seeing from Node-Exporter? You should be able to use the templating feature in Grafana to create hostnames based on values. Templating might give you even more granularity across all metrics. Have a look here - http://docs.grafana.org/reference/templating/#templating

[2018-01-16 17:14] gauravgoyal0086 commented on #92
Hi Brian,

Thanks for your most awaited response!
I am using Node Exporter Server Metrics dashboard which displays multiple node metrics on single screen.
As you can see in attached snapshot, variable is $node. this variable picks internal IPs from node field which is 10.0.2.21:9100, 10.0.2.5:91000 and 10.0.2.7:9100 in my case.

We want to have node hostnames here instead of internal ips.
May i re

[2018-01-19 07:41] vegasbrianc commented on #92
Hi @gauravgoyal0086 Can you add the screenshot?

Thanks!

[2018-01-19 07:44] vegasbrianc commented on #92
@gauravgoyal0086 Can you send me a screenshot of the template screen for that dashboard as well as if you used this repo directly the job name used in the template screen should be prometheus and not node

[2018-01-25 17:04] Sispheor opened #95 "Switch prometheus image to 2.1.0?"
Prometheus 2.1.0 has been released.
Following the [changelog ](https://github.com/prometheus/prometheus/blob/master/CHANGELOG.md) there is no breaking changes.
If you are ok with that I can PR the project to switch to the new version.
I'll test on my lab that the migration is ok and give a feedback in the mean time.

[2018-01-26 02:14] llitfkitfk commented on #95
PR is welcome.
Thanks

[2018-01-28 07:31] siuwwong5 opened #96 "Cannot start prometheus"
redhat 7 linux
docker vesion 1.13.1

[root@hkgcvdv00533 prometheus-master]# HOSTNAME=$(hostname) docker stack deploy -c docker-compose.yml prom
Ignoring unsupported options: links, restart

Creating network prom_back-tier
Creating network prom_front-tier
Creating service prom_prometheus
Creating service prom_node-exporter
Creating service prom_alertmanager
Creating service prom_cadvisor
Creating s

[2018-01-28 12:12] llitfkitfk commented on #96
export HOSTNAME= hkgcvdv00533

[2018-01-29 08:27] vegasbrianc commented on #96
@llitfkitfk @siuwwong5 I ran into the same issue previously and the hostname resolved it. Let us know if this works for you. Thanks!

[2018-01-29 09:06] siuwwong5 commented on #96
Thanks both

I have the images in my host but seems it keep pull the images with error. How do I fix it? Do I need to clean something?

[root@hkgcvdv00533 prometheus-master]# echo $HOSTNAME
hkgcvdv00533
[root@hkgcvdv00533 prometheus-master]# docker images
REPOSITORY           TAG                 IMAGE ID            CREATED             SIZE
prom/alertmanager    latest              5e34bd71dbdf

[2018-01-29 09:25] siuwwong5 commented on #96
Thanks I fixed it by recreate the stack.

docker stack rm prom

[2018-01-29 09:25] #96 closed

[2018-01-29 09:27] llitfkitfk commented on #95
updated

[2018-01-29 09:27] #95 closed

[2018-01-29 09:58] Sispheor commented on #95
Thanks! I finally haven't had the time to test it. Sorry about that.
I'll try anyway in the next days and give a feedback if needed.
Thanks again!

[2018-02-12 07:45] vegasbrianc commented on #92
hi @gauravgoyal0086 Is this resolved? If so can you provide the details so it could help others?

Thanks!

[2018-02-12 07:45] vegasbrianc commented on #91
Hi @nightah Can you provide more details about this issue?

[2018-02-12 10:01] nightah commented on #91
@vegasbrianc can do later in the week, need an opportunity when I have a little time and I can let my other containers come down. I'll gather some detail and post up when I get a chance.

[2018-02-15 07:36] kaytrance opened #97 "Prometheus in docker: Error loading config couldn't load configuration, no such file or directory"
Having a simplest `docker-compose` file I am unable to run it with the following error.

In my project directory there's a directory called `configs` with `prometheus.yml`:
[code]

I am trying to launch prometheus having this `docker-compose.yml`:
[code]

In result I am having this in the console:
[code]

What do I miss?

[2018-02-16 06:14] vegasbrianc commented on #97
Strange, 2 things stand out.

1. Make sure you pin the Prometheus version like `prom/prometheus:v2.1.0`
2. Did the prometheus.yml file change names, format, params, etc?
3. I would recommend starting the container in interactive mode and go to the directory and see what is being mounted.

[2018-03-06 16:23] vegasbrianc commented on #91
@llitfkitfk @nightah If you comment out the deployment section for all services in the docker-compose file this will fix it.

[2018-03-06 16:23] #91 closed

[2018-03-06 16:24] vegasbrianc commented on #92
Closing unless further feedback is given

[2018-03-06 16:24] #92 closed

[2018-03-06 16:24] vegasbrianc commented on #97
@kaytrance Closing issue unless new feedback is given.

[2018-03-06 16:24] #97 closed

[2018-03-15 10:07] RomekRJM opened #100 "er ps"
Provide a general summary of the issue in the Title above

If you're describing a bug, tell us what should happen
If you're suggesting a change/improvement, tell us how it should work

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)
Provide a link to a live example, or steps to reproduce this bug. Include code to reproduce, if relevant:

1.
2.
3.

[2018-03-15 10:18] llitfkitfk commented on #100
?

[2018-03-15 10:40] vegasbrianc commented on #100
@RomekRJM Can you please elaborate on the issue as nothing was filled in the issue template. Thanks!

[2018-03-15 10:48] llitfkitfk commented on #100
reopen if @RomekRJM update the issue

[2018-03-15 10:48] #100 closed

[2018-03-15 14:20] RomekRJM commented on #100
Sorry - speed typing and apparently wrong window :)

[2018-04-02 22:34] gregshep opened #102 "Dashboard json import fails"
Provide a general summary of the issue in the Title above

If you're describing a bug, tell us what should happen
Placing a Grafana Dashboard JSON file into the dashboard directory should import and display metrics from DataSource.  Importing Grafana Dashboard #1860 (Node Exporter Full)

If you're suggesting a change/improvement, tell us how it should work

## Expected Behaviour
Metrics from DataS

[2018-04-03 03:02] llitfkitfk commented on #102
The latest version:
The Dashboard JSON file already imported, No need to import again.

https://grafana.gokit.info
demo
demo123

[2018-04-03 18:17] gregshep commented on #102
There were 6 dashboards I tried automatically importing, none are the default dashboards.  The one in this example is called Grafana Dashboard #1860 (Node Exporter Full) - https://grafana.com/dashboards/1860

[2018-04-04 20:00] gregshep commented on #102
I found a workaround.  If the "name" and "datasource" variable "${DS_LOCALHOST}" and "DS_LOCALHOST" are replaced with the actual name of the datasource "Prometheus", then the resulting JSON file works when placed into the dashboard directory.  Perhaps I missing this nuance when prepping the dashboard files.

[2018-04-04 20:00] #102 closed

[2018-05-07 22:54] gurtejkochhar opened #103 "Docker dashboard shows status of exited docker container"
Provide a general summary of the issue in the Title above
Grafana docker dashboard still showing docker usage when the container has exited

If you're describing a bug, tell us what should happen
If you're suggesting a change/improvement, tell us how it should work
Start a container , monitor with docker dashboard.
Exit the container, it still appears on the docker dasboard
## Expected Behaviour
i

[2018-05-31 18:54] pradeepdogga opened #105 "How to store the time series data collected in the prometheus container to an external storage (say host machine)?"
Provide a general summary of the issue in the Title above

If you're describing a bug, tell us what should happen
If you're suggesting a change/improvement, tell us how it should work

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)
Provide a link to a live example, or steps to reproduce this bug. Include code to reproduce, if relevant:

1.
2.
3.

[2018-06-04 12:11] vegasbrianc commented on #105
Hello @pradeepdogga Thanks for checking out the repo. I would recommend using a Docker Volume to mount the data where you would like - https://docs.docker.com/storage/volumes/#start-a-service-with-volumes.

You can change this in the compose or stack file here - https://github.com/vegasbrianc/prometheus/blob/master/docker-compose.yml#L17

[2018-06-04 12:11] #105 closed

[2018-06-08 00:38] prabha101 opened #106 "converting influxdb dashboards to prometheus dashboards"
hi i am using this prometheus automagic stack to understand a few data collection specific to collectD. Can you help guide how I can easily convert all these Grafana dashboards to use prometheus instead of Influx DB in to this prom stack? That would be so helpful! any help appreciated

https://github.com/opnfv/barometer/tree/master/docker/barometer-grafana/dashboards

Thanks!
Prabha

[2018-06-09 21:15] vegasbrianc commented on #106
Hi @prabha101 Thanks for using the project. To convert them all over will take a bit of effort.

1. Create Prometheus Datasource
2. Assign the Prometheus Datasource in every graph/dashboard
3. You will also need to update the queries as InfluxDB / Prometheus could report differently.

Let me know if this helps. Otherwise, send me some screenshots.

good luck.

Brian

[2018-06-09 21:15] #106 closed

[2018-06-11 23:59] prabha101 commented on #106
1. Prometheus data source is already created by this Prom Stack.
2. Let's pick editing this one for example to convert to point to prometheus database --
https://github.com/opnfv/barometer/blob/master/docker/barometer-grafana/dashboards/intel_pmu_dashboard.json
I see two keywords that I can do a replace to point to prometheus....
one is "datasource": "collectd"
other is "dsType": "influxdb"

I alr

[2018-06-12 13:09] philicious commented on #106
@prabha101 I have to second @vegasbrianc in that this will likely need some effort.
The InfluxDB query language (InfluxQL) isnt (afaik) automatically convertable to Prometheus PromQL. This article might help you https://www.robustperception.io/translating-between-monitoring-languages/ and also https://prometheus.io/docs/prometheus/latest/querying/basics/ and https://docs.influxdata.com/influxdb/v1

[2018-06-25 08:13] llitfkitfk opened #107 "node-exporter huge size"
![image](https://user-images.githubusercontent.com/2404785/41838281-8ea0e456-7892-11e8-8c8e-852e1b31a1f5.png)

![image](https://user-images.githubusercontent.com/2404785/41838292-97013448-7892-11e8-809f-dda5d22bd883.png)

[2018-06-25 08:27] vegasbrianc commented on #107
Yikes @llitfkitfk It appears it is storing and not cleaning the metrics locally. The base image size is 8MB so we need to find a way to set a limit on data retention

[2018-06-25 09:06] llitfkitfk commented on #107
@vegasbrianc yes, I think we can add a utils service to handle those actions

[2018-06-25 09:13] SuperQ commented on #107
The `node_exporter` does not store anything, it is stateless.

[2018-06-25 09:22] SuperQ commented on #107
Note, `/var/lib/docker/containers/*` is internal docker controls, not the container volumes. I'm guessing this is related to logging output. I would look at `/var/lib/docker/containers/*.log` to see if those files are the problem.

[2018-06-25 09:45] llitfkitfk commented on #107
@SuperQ
You are right!
Thanks

[2018-06-25 09:46] #107 closed

[2018-06-25 15:32] odinko opened #108 "No datapoints found."
Warning! Detected 416452.27 seconds time difference between your browser and the server. Prometheus relies on accurate time and time drift might cause unexpected query results.

No datapoints found.

![ice_screenshot_20180625-202642](https://user-images.githubusercontent.com/40573248/41859985-e647230e-78b6-11e8-917f-3a4e7d0739d7.png)
![ice_screenshot_20180625-202750](https://user-images.githubuser

[2018-06-26 06:13] odinko commented on #108
there was an incorrect date on the server. problem solved.

[2018-06-26 06:13] #108 closed

[2018-06-26 07:06] vegasbrianc commented on #108
@odinko Glad you were able to resolve this. You can also see this if Grafana and Prometheus are our of sync.

[2018-06-26 15:41] DevOps-Dad opened #109 "Grafana Dashboard Shows no CPU or Memory Guage"
I am running the latest version of your Docker containers but I made one change, I am using Prometheus 2.3.1 in the Prometheus container.

The Docker Dashboard shows N/A for CPU and Memory but when I copy and paste the query from Grafana to Prometheus it is legit and returns a reasonable value.

Any insight would be appreciated.

Thanks for the putting this all together, it made my life much easie

[2018-06-29 11:28] Phu-Bar opened #110 "Prometheus not getting metrics from target"
My setup:

Prometheus is on Google Cloud Platform. Worker node is on AWS. All relevant ports are open between the two machines.

It appears that the port forwarding for the docker swarm worker is not working. I have joined a worker to the swarm and the node exporter and CAdvisor containers are up but the host machine are not listening on the appropriate ports.

Have you encountered this problem be

[2018-06-29 17:01] MaxenceG2M commented on #66
For information, I solve the problem with the option:

    --collector.filesystem.ignored-mount-points "^/rootfs/(var/lib/docker/)|(run/docker/netns/).*"

Hope this help.

[2018-07-03 10:07] desprit commented on #109
CPU query command is:
[code]

This part works:
[code]

This one shows N/A:
[code]

I have multi-host env. All services deployed successfully.

[2018-07-06 06:34] vegasbrianc commented on #110
Hi @Phu-Bar

1. Can you open the cadvisor IP/metrics and see if you can see the metrics? Same for node exporter.

2. Also, go into Prometheus -> Targets menu and let me know what errors you see here.
If you `docker exec -it prometheus bash`can you ping the cAdvisor or node exporter IP's.

[2018-07-17 13:54] vegasbrianc commented on #110
@Phu-Bar Any update here?

[2018-07-19 13:49] vegasbrianc commented on #110
@Phu-Bar Closing issue. If you have more info please let me know and we can re-open this

[2018-07-19 13:49] #110 closed

[2018-07-19 13:50] vegasbrianc commented on #109
Hi @DevOps-Dad Sorry I missed this issue. I will have a look and let you know.

[2018-07-19 19:25] DevOps-Dad commented on #109
Awesome thanks!!  I appreciate the help.

[2018-07-19 20:42] vegasbrianc commented on #109
Hi @DevOps-Dad @desprit

Seems the Memory metric name changed along the way to include _bytes after each metric. CPU metric name also changed to include seconds where I was dividing.

I will update the project with new dashboards shortly but here is the fix:

*Memory Usage*
`(sum(node_memory_MemTotal_bytes) - sum(node_memory_MemFree_bytes +node_memory_Buffers_bytes + node_memory_Cached_bytes) ) /

[2018-07-20 14:22] DevOps-Dad commented on #109
@vegasbrianc that worked perfectly.  Thank you so much!!

[2018-07-23 08:02] vegasbrianc commented on #109
@DevOps-Dad I'm happy it worked. Let me know if I can help with anything else.

[2018-07-23 08:02] #109 closed

[2018-07-25 15:50] yobshans opened #111 "Prometheus connection refused to target node-exporter which is running on Openstack VM"
Hi,
I faced with an issue while evaluate monitoring approach with Prometheus/cAdvisor/Node-exporter on Openstack Overcloud Instance/VM.
Actually I have deployed successfully cAdvisor/Node-exporter on all nodes.
But, installed Node-exporter container on Openstack Instance(VM) is not reachable by Prometheus
Error: Get http://10.0.0.107:9100/metrics: dial tcp 10.0.0.107:9100: connect: connection refu

[2018-07-25 16:06] yobshans commented on #111
Sorry, not correct place

[2018-07-25 16:06] #111 closed

[2018-07-25 21:23] mikla opened #112 "Grafana DB migration failure"
Grafana DB migration failure during container startup.

[code]

Grafana dies after 10 seconds.

[code]

Container logs:
[code]

## Environment
Docker: Version 18.06.0-ce-mac69 (26398
MacOS: High Sierra 10.13.6 (17G65)

[2018-07-25 21:37] vegasbrianc commented on #112
@mikla The latest commit should fix your issue. Have a test and let me know

[2018-07-25 21:47] mikla commented on #112
@vegasbrianc thanks for fast reply.

Didn't take off.
I've re-created all containers.
The same error in the log:

[code]

[2018-07-26 05:47] vegasbrianc commented on #112
Let me dive into this a bit more... Hmm, I had to delete my environment and now see the same. Stay tuned

[2018-07-26 07:41] llitfkitfk commented on #103
need more information or screenshot

[2018-07-26 07:46] #103 closed

[2018-07-26 13:55] mikla commented on #112
@llitfkitfk my prometheus folder is under /Users. Eg. /Users/projects/prometheus

[2018-07-26 15:52] vegasbrianc commented on #112
Ok @mikla @llitfkitfk I think I found the issue. It is related to the new version of Grafana not using root user. I have defaulted back to root till I fix it correctly.

http://docs.grafana.org/installation/docker/#migration-from-a-previous-version-of-the-docker-container-to-5-1-or-later

[2018-07-30 12:08] vegasbrianc commented on #112
@mikla Is this working now for you?

[2018-07-30 15:54] guillermolam commented on #112
@mikla Could you please describe steps to solve this issue? I am still facing the same problem with Grafana

[2018-07-30 15:56] mikla commented on #112
@guillermolam pull latest master branch, remove all previous images and run stack.

[2018-07-30 16:05] guillermolam commented on #112
@mikla Still same issue
`s2mxnrvbo9un        prom_grafana.1                                 grafana/grafana:latest      mdv-docdevl01       Running             Starting 1 second ago
xvfys9jp4p1c         \_ prom_grafana.1                             grafana/grafana:latest      mdv-docdevl01       Shutdown            Failed 7 seconds ago `

[2018-07-30 16:06] guillermolam commented on #112
prom_grafana.1.z2b7t4gxpc61@mdv-docdevl01    | t=2018-07-30T16:02:28+0000 lvl=info msg="Starting Grafana" logger=server version=5.2.2 commit=aeaf7b2 compiled=2018-07-25T11:17:28+0000
prom_grafana.1.wlcobsb2imem@mdv-docdevl01    | t=2018-07-30T16:02:21+0000 lvl=info msg="Starting Grafana" logger=server version=5.2.2 commit=aeaf7b2 compiled=2018-07-25T11:17:28+0000
prom_grafana.1.xw8hw4exk2z2@mdv-do

[2018-07-31 07:07] vegasbrianc commented on #112
@mikla Thanks for the update.

@guillermolam Can you please open a new issue as this is a separate issue that you are experiencing. Please also provide your environment information. Thanks!

[2018-07-31 07:07] #112 closed

[2018-07-31 13:35] vegasbrianc commented on #112
@guillermolam I updated the docker stack so this problem should also be solved. Be sure to clean your environment first:

1. docker stack rm prom
2. docker volume prune
3. HOSTNAME=$(hostname) docker stack deploy -c docker-stack.yml prom

[2018-10-28 03:45] maubarrerag opened #114 "CAdvisor has fixed port 8080"
You can't change cadvisor port even if you change it inside docker-stack.yml

## Expected Behaviour
`  cadvisor:
    image: google/cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - 8181:8181
    networks:
      - monitor-net
    restart: always
    deploy:
      mode: global`

Should creates c

[2018-10-29 02:46] llitfkitfk commented on #114
8081:8080

<host-port>:<container-port>

[2018-10-29 02:53] #114 closed

[2018-10-29 15:17] maubarrerag commented on #114
Thanks, i follow this instructions: https://github.com/google/cadvisor/issues/1184

Cheers

[2018-11-25 18:42] KidkArolis opened #116 "Bind mount source path does not exist"
## Expected Behaviour

Following the readme, after cloning the repo to `/prometheus`:

[code]

Everything should work.

## Current Behaviour

[code]

[2018-11-27 16:23] vegasbrianc commented on #116
@KidkArolis Can you provide some more details about the system which it is running on? OS, version, etc?

I tested it quickly on https://labs.play-with-docker.com/ & Mac and works fine.

Can you also provide the logs for prometheus.

Final thought but it the error looks like it cannot reach the prometheus/prometheus directory in the repo. Can you verify it exists?

[2018-11-27 16:48] KidkArolis commented on #116
I've solved this in the meantime, but I had a closer look now to specify what was going wrong and found that for some reason my copy of the repo had the wrong layout:

## This repo
<img width="1000" alt="image" src="https://user-images.githubusercontent.com/324440/49097015-ca07e800-f263-11e8-82a8-020cda482ebb.png">

## My copy
<img width="998" alt="image" src="https://user-images.githubusercontent

[2018-11-27 16:48] #116 closed

[2018-11-27 16:49] KidkArolis commented on #116
Also, thanks for this repo. It was very useful in getting the prom stack running smoothly in prod (minus my mess up with the dir structure – how bizzare!?)

[2018-12-03 15:04] w9n opened #117 "DNS resolving of cadvisor and node_exporter not working"
cadvisor and node_exporter metrics are not shown in grafana

## Expected Behaviour
the docker-compose service names are node-exporter and cadvisor.
https://github.com/vegasbrianc/prometheus/blob/master/docker-compose.yml#L73
## Current Behaviour
the Prometheus config is looking for tasks.node-exporter and tasks.cadvisor
https://github.com/vegasbrianc/prometheus/blob/master/prometheus/prometheus.ym

[2018-12-05 10:34] llitfkitfk commented on #117
`tasks.` for docker service (README.md) not for compose

[2018-12-05 10:35] #117 closed

[2018-12-05 17:30] w9n commented on #117
You are right, but docker-compose compatibility would improve ease of use. Can you maybe check if it works without ```tasks.``` in docker swarm?

[2018-12-06 02:30] llitfkitfk commented on #117
docker compose service and docker swarm service use different DNS
It definitely will not work without `task.` in swarm

[2018-12-11 11:53] vegasbrianc commented on #117
@w9n We will have a look at implementing this again. We made a move a while back to support only Swarm but I see the use case coming back for compose as well.

@llitfkitfk more work to do :)

[2018-12-13 14:11] lioshi opened #118 "Alerts on node-exporter for high_load"
With the default install in dashboard "docker promotheus monitoring" I have some alerts (every 20 seconds):
**2018-12-13 15:08:30 | ALERTS | high_load | firing | 10.0.0.4:9100 | node-exporter | page | 1.00**

* Docker version `17.12.1`
* Ubuntu 18.04

[2019-01-07 08:50] Extarys opened #119 "No data showed in the dashboard"
Provide a general summary of the issue in the Title above

If you're describing a bug, tell us what should happen
If you're suggesting a change/improvement, tell us how it should work

## Expected Behaviour
It shows data

## Current Behaviour
dashboard doesn't show data

## Possible Solution
Unknown?

## Steps to Reproduce (for bugs)
Provide a link to a live example, or steps to reproduce this bug

[2019-01-08 02:34] llitfkitfk commented on #119
https://github.com/vegasbrianc/prometheus/issues/117

[2019-01-08 02:34] #119 closed

[2019-01-08 08:08] vegasbrianc commented on #119
@Extarys Let us know if you are able to solve this with the link to the other issue. If you are still having issues let us know

[2019-02-02 22:12] codydiehl opened #121 "alertmanager fails to start non zero exit code"
Provide a general summary of the issue in the Title above

If you're describing a bug, tell us what should happen
If you're suggesting a change/improvement, tell us how it should work

## Expected Behaviour
should be able to deploy the stack and services replicate successfully

## Current Behaviour
All services are able to start besides alertmanager

Showing the 0/1 replicas for prom_alertmanager

[2019-02-02 22:34] codydiehl commented on #121
wow i didn't add the webhook correctly.
sorry..

[2019-02-02 22:34] #121 closed

[2019-02-13 10:49] vegasbrianc commented on #121
@codydiehl I'm happy to see this was resolved. Hope you are enjoying the project!

[2019-02-26 07:45] bhargavtruecom commented on #97
Any work arounf ?

having same issue

[2019-02-26 10:12] vegasbrianc commented on #97
@bhargavtruecom Looks like the config is not being loaded correctly into Prometheus as seen in this line of your log file. I would recommend trying to run the Prometheus container alone in interactive mode to determine why the config file is not being loaded - https://prometheus.io/docs/prometheus/latest/installation/#volumes-bind-mount

`prometheus_1  | level=error ts=2018-02-15T07:35:51.5330418Z

[2019-02-26 14:40] bhargavtruecom commented on #97
@vegasbrianc Sorry its my mistake. its working properly

[2019-02-26 20:18] vegasbrianc commented on #97
@bhargavtruecom great news! Let me know if you have more questions

[2019-04-04 01:30] FerdinaKusumah opened #123 "Grafana show no value and error bad gateway"
Grafana show no value and error bad gateway

## Expected Behaviour
<img width="1246" alt="Screen Shot 2019-04-04 at 08 23 35" src="https://user-images.githubusercontent.com/19812460/55523365-fa98dc00-56b2-11e9-911a-889eeb7a0dc9.png">

## Current Behaviour
<img width="1437" alt="Screen Shot 2019-04-04 at 08 21 16" src="https://user-images.githubusercontent.com/19812460/55523367-fec4f980-56b2-11e9-9

[2019-04-10 09:25] yinbangzhong commented on #66
level=error msg="ERROR: cpu collector failed after 0.000392s: open /sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_cur_freq: permission denied" source="collector.go:132"

[2019-04-12 19:02] smoebody opened #124 "no container cpu data in grafana"
After installing according to the Readme and some adjustments regarding my infrastructure i have everything up and running and grafana shows nice graphs and stuff, except for container cpu usage. All containers stay at 0% usage which is not possible

![image](https://user-images.githubusercontent.com/991327/56059971-c930a800-5d65-11e9-8bee-dc2b41f54349.png)

## My Environment
Include as many relev

[2019-04-16 00:15] azaiter commented on #124
Try to use `rate(container_cpu_usage_seconds_total[5m])` and let me know.

[2019-04-16 07:51] smoebody commented on #124
Thanks for the hint. `sum(rate(container_cpu_usage_seconds_total{image!=""}[1m])) by (id,name)` did it for me.

[2019-04-23 03:36] vegasbrianc commented on #123
Hi @FerdinaKusumah Any updates on this?

[2019-04-30 13:52] vegasbrianc commented on #124
@smoebody @azaiter Thanks for the feedback. I will fix the dashboard and add it back in.

I don't pin versions as it forces me to keep it updated ;)

[2019-05-01 22:38] vegasbrianc commented on #124
OK, updated the dashboard with @smoebody query. Thanks, everyone!

[2019-05-01 22:38] #124 closed

[2019-05-01 22:40] vegasbrianc commented on #123
Closing due to inactivity.

[2019-05-01 22:40] #123 closed

[2019-06-09 12:07] idevai commented on #66
If you are launching node exporter via systemd, the standard way to modify the startup parameters is by editing file

You need to modify this line:

Into this:

and then restart by:

[2019-07-20 10:26] roaslin commented on #97
Hi,
I know this has been solved already but can you please @bhargavtruecom post the solution ?
I'm facing the same issue over there.
Thanks

[2019-07-21 07:25] vegasbrianc commented on #97
@RiFi2k Can you post your config files?

[2019-07-25 21:07] andrijaperovic opened #126 "Could not configure a source for OOM detection, disabling OOM events: open /dev/kmsg: no such file or directory"
Provide a general summary of the issue in the Title above

If you're describing a bug, tell us what should happen
If you're suggesting a change/improvement, tell us how it should work

## Expected Behaviour
cadvisor should be able to collect metrics.

## Current Behaviour

docker service logs prom_cadvisor
prom_cadvisor.0.yx1444615298@managernode    | E0725 21:01:45.543782       1 factory.go:340]

[2019-07-25 21:12] andrijaperovic commented on #126
https://github.com/google/cadvisor/issues/2150

[2019-07-25 21:34] andrijaperovic commented on #126
Looks like the resolution would be to run cadvisor with `privileged: true` which is currently not supported in docker compose.

[2019-08-02 01:05] RiFi2k commented on #97
I've been working mostly with kubernetes lately so I haven't kept up on them but check out the monitoring-compose file and the monitoring folder here. Hopefully it helps https://github.com/RiFi2k/dockerize-your-dev

[2019-08-05 12:01] vegasbrianc commented on #97
Thanks for the feedback @RiFi2k I took a look at you monitoring compose file and you can make your stack easily Docker Swarm ready by using images in your monitoring-compose.yml. Since your Dockerfiles are only pulling the base image and performing no config this should work right away.

[2019-08-05 12:01] vegasbrianc commented on #97
@RiFi2k Here's an example: https://github.com/vegasbrianc/prometheus/blob/master/docker-compose.yml#L14

[2019-08-05 12:21] vegasbrianc commented on #126
Can you try to run cAdvisor standalone on that node to see if it starts? - https://github.com/google/cadvisor#quick-start-running-cadvisor-in-a-docker-container

[2019-08-05 12:27] vegasbrianc commented on #126
To Run cAdvisor in Red Hat - https://github.com/google/cadvisor/blob/master/docs/running.md#centos-fedora-and-rhel

[2019-08-14 06:32] vegasbrianc commented on #126
@andrijaperovic Any luck with this issue?

[2019-08-20 12:16] sriharv1 opened #127 "failed to collect filesystem stats - rootDiskErr: du command failed on /rootfs/var/lib/dockerlevel=error msg="Error refreshing DNS targets: could not resolve tasks.node-exporter:"
Provide a general summary of the issue in the Title above

If you're describing a bug, tell us what should happen
If you're suggesting a change/improvement, tell us how it should work

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)
Provide a link to a live example, or steps to reproduce this bug. Include code to reproduce, if relevant:

1.
2.
3.

[2019-08-20 12:16] #127 closed

[2019-08-20 14:43] vegasbrianc commented on #127
Hi @sriharv1 Can you provide some background on what fixed your issue? Thanks!

[2019-08-22 06:51] vegasbrianc commented on #126
Closing issue. If you have further information we will be happy to re-open

[2019-08-22 06:51] #126 closed

[2019-08-22 06:52] vegasbrianc opened #129 "test"
Provide a general summary of the issue in the Title above

If you're describing a bug, tell us what should happen
If you're suggesting a change/improvement, tell us how it should work

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)
Provide a link to a live example, or steps to reproduce this bug. Include code to reproduce, if relevant:

1.
2.
3.

[2019-08-22 06:53] #129 closed

[2019-08-22 07:02] vegasbrianc opened #130 "test2"
Provide a general summary of the issue in the Title above

If you're describing a bug, tell us what should happen
If you're suggesting a change/improvement, tell us how it should work

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)
Provide a link to a live example, or steps to reproduce this bug. Include code to reproduce, if relevant:

1.
2.
3.

[2019-08-22 07:05] #130 closed

[2019-09-01 07:06] adams-family opened #132 "Filesystem usage incorrectly reported"
My filesystem is 42% full but Grafana dashboard shows only 0.88% usage.

## Expected Behaviour

Filesystem usage should show 42%.

## Current Behaviour

Filesystem usage shows 0.88%:

<img width="1468" alt="image" src="https://user-images.githubusercontent.com/19559733/64072882-9a748900-cc96-11e9-85d5-6d2dc11b2eca.png">

## Steps to Reproduce (for bugs)

1. Git clone the repository
2. Replace task

[2019-09-01 07:18] adams-family opened #133 "CPU usage shows too high value"
Maybe this is not a bug bug I can't get to understand why:

CPU usage gauge shows a much higher value than sum of all of my containers.

## Expected Behaviour

I would expect that CPU usage shows the sum of CPU usage from all my containers plus some overhead of the host machine.

## Current Behaviour

CPU usage shows 130%.

<img width="1469" alt="image" src="https://user-images.githubusercontent.c

[2019-09-03 05:35] vegasbrianc commented on #133
Hi @adams-family Thanks for opening the issue. Yes, it looks like the CPU query is not working correctly. I will have a look and keep you posted.

[2019-09-03 05:36] vegasbrianc commented on #132
@adams-family Same for this issue. It appears the storage query is probably using the wrong metric since these metrics changed. I will update and keep you posted.

[2019-10-04 01:24] GalvinGao commented on #28
Just for anyone who might run into this issue: In my Raspberry Pi 4 Model B, when I use `http://localhost:9090` as the URL it is showing *HTTP Error Bad Gateway*, but when I switch to `http://127.0.0.1:9090` it works. Not sure why.

[2019-10-04 09:45] oiar commented on #28
@GalvinGao  It's because your machine cannot resolve localhost to 127.0.0.1.
Which means DNS not work

[2019-10-08 22:59] ornatwork opened #134 "Microsoft Teams webhook notification skip verify certificate"
## Expected Behaviour

## Current Behaviour
Error shows in the grafana log when trying to test the webhook.

prom_grafana.1.j6fvsz6sa34i@docker-desktop    | t=2019-10-08T22:27:27+0000 lvl=eror msg="failed to send notification" logger=alerting.notifier uid= error="Post https://.../webhook/....IncomingWebhook/...32/...-b798-...: x509: certificate signed by unknown authority"

## Possible Solution
I

[2019-10-09 20:08] vegasbrianc commented on #134
HI @ornatwork Thanks for your detailed explanation. However, I think the solution is to use a sidecar pattern to capture the webhook and send it to Teams. Something like this - https://github.com/bzon/prometheus-msteams

[2019-10-09 23:12] ornatwork commented on #134
What if I have the client certificates needed, can I add that to the stack configuration to make it available in the container when it tries to send the alert ?

[2019-10-10 00:04] ornatwork opened #135 "No email alert is sent when alert fires"
## Expected Behaviour
That the email alert will be sent when alerts fire.

## Current Behaviour
I have setup one Email notification and one Teams notification, the Email "Send test" alert arrives in my email mailbox without a problem.
When alerts fire I get error as seen in issue #134 for the Teams alert however I do not get email and I do not see anything in the grafana log claiming that email is

[2019-10-10 00:09] ornatwork commented on #135
I also noticed that I see the "Send test" alert in the grafana log when testing the email notification.

prom_grafana.1.m6imqd1c9i9a@docker-desktop    | t=2019-10-10T00:06:58+0000 lvl=info msg="Sending alert notification to" logger=alerting.notifier.email addresses="[some@some.com, some2@some.com]"

[2019-10-10 07:56] RAHUL8491 commented on #109
Hi All, I am monitoring my vm cluster using prometheus and grafana. I have two variables in grafna dashboard, cluster and node.  In one panel i have cpu cluster usage metrics. Below is the promQl using for that. Result is not accurate. Kindly let me know what is wrong that i am doing. Thanks in advance.

count(count(node_cpu_seconds_total{node=~"$node"}) by (cpu))

[2019-10-10 20:39] ornatwork commented on #135
I setup slack webhook in the config file and got this error in the alertmanager

prom_alertmanager.1.4oiq2e1qptf5@docker-desktop    | level=error ts=2019-10-10T18:39:31.661Z caller=notify.go:372 component=dispatcher msg="Error on notify" err="Post <redacted>: x509: certificate signed by unknown authority" context_err="context deadline exceeded"
prom_alertmanager.1.4oiq2e1qptf5@docker-desktop    |

[2019-10-10 20:39] #135 closed

[2019-10-11 20:43] #134 closed

[2019-10-14 19:58] vegasbrianc commented on #134
Thanks @ornatwork for the update.

[2019-10-15 20:37] tronar commented on #28
@GalvinGao @oiar May be not. The interface shows in background "http://localhost:9090" as data source URL, but somehow the blank input does not behave. If you enter the same value it works. If you leave it blank, it does not and brings the gateway error.

[2019-10-21 10:46] vegasbrianc commented on #132
Closing for now.

[2019-10-21 10:46] #132 closed

[2019-10-21 10:46] vegasbrianc commented on #133
Closing for now

[2019-10-21 10:46] #133 closed

[2019-10-22 17:06] adams-family commented on #133
Hi @vegasbrianc, did you manage to resolve the issue? Thanks!

[2019-10-22 17:08] adams-family commented on #132
Hi @vegasbrianc, sorry for the late response, I wasn't able to try it out until now because I've already deleted by testing dashboards. If it helps you I can bring them up and try the fix you suggested.

[2019-10-29 17:43] poliveira-fuze opened #138 "start stack and get "invalid mount config for type...""
## Expected Behaviour
Based on the Readme document I was expecting the stack to be fully deployed and services like Grafana available.

## Current Behaviour
only two containers are running all the others shows the error:

## Possible Solution

## Steps to Reproduce (for bugs)
On MacOS 10.14.6, installed docker desktop for mac (2.1.0.4 - 39773).
With Engine 19.03.4, Compose 1.24.1, Kubernetes 1.14.

[2019-10-31 08:38] vegasbrianc commented on #138
@poliveira-fuze Let me have a look as I think this is an issue with a version upgrade

[2019-10-31 22:31] vegasbrianc commented on #138
@poliveira-fuze I just wiped my environment, cloned the repo, and started everything.  Also running OSX 10.15

Can you send the full error you are getting for the invalid mount?

[2019-11-01 16:46] slimwizard commented on #126
Hello everyone, I am still running into this same issue. I am trying to deploy cAdvisor to cloud nodes within a Docker EE cluster using the Kubernetes orchestration (daemonset) method as part of a Prometheus/Grafana stack. I've already deployed the same images onto our on-prem nodes (cluster is on-prem/cloud hybrid) and they work fine i.e. our Prometheus is able to scrape metrics. I've tried putti

[2019-11-04 12:41] poliveira-fuze commented on #138
Sure @vegasbrianc, the error is the following:
[code]

I have checked, on the `docker-stack.yml` I have on `volumes` section the following `./prometheus/:/etc/prometheus/`.

If I do `ls -la /Users/myuser/Development/prometheus/prometheus` I get the expected content, `alert.rules` and ªprometheus.yml` are shown.

[2019-11-13 20:27] vegasbrianc commented on #138
Hmm, I'm a bit puzzled why this is happening. Does this directoy have enough permissions?

[2019-11-26 22:14] vegasbrianc commented on #138
I have retried the repo on several different environments and I am not seeing this issue. Can you try running the deploy without `HOSTNAME=$(hostname)`

[2019-11-27 19:35] nooshin-mirzadeh commented on #121
@codydiehl can you please tell me what your mistake was in setting the webhook? I am getting the same error, but the webhook looks ok.

[2019-11-29 09:55] vegasbrianc commented on #121
@nooshin-mirzadeh Post your config here and we will have a look

[2019-11-29 10:13] nooshin-mirzadeh commented on #121
@vegasbrianc
Thanks for your reply, here is my `alertmanager.yml`:
[code]

[2019-11-29 13:55] knoxknot commented on #121
@nooshin-mirzadeh take a look at line two in the config you posted. It appears you are trying to get the slack api url from environment variables but you rather gave a literal value. Could you try $SLACK_WEB_HOOK
This should populate the value of the slack api url you stored in your environment variables. As an aside what you are trying to do is a good small step towards security.

[2019-12-02 15:28] nooshin-mirzadeh commented on #121
@knoxknot Thanks a lot! For some reasons I was not seeing it!

[2019-12-03 19:51] Calieston opened #142 "README contains portainer references"
In the README.md there are two references of portainer which is no longer part of the monitoring stack.

[2019-12-03 20:07] vegasbrianc commented on #142
Hi @Calieston I'm not sure which references you refer to? The one reference https://github.com/RiFi2k/dockerize-your-dev was submitted as they used this example to start their project.

I would be happy to correct anything if something is no longer relevant. Can you let me know which references you refer? Thanks!

[2019-12-03 20:11] Calieston commented on #142
Yep, you are totally right. I was referring to this README: https://github.com/carlosedp/arm-monitoring/blob/master/README.md (which is obviously a readme from a forked one).

[2019-12-03 22:35] vegasbrianc commented on #142
Phew, had me worried. Thanks for the feedback

[2019-12-03 22:35] #142 closed

[2019-12-03 22:48] #138 closed

[2019-12-19 16:22] senthilbalajiganesan commented on #28
incase you are running both grafana and prometheus using docker. you cannot use http://localhost:9090. set up a network or temporarily get `prometheus` container's `ipv4address` and put it in url.

[2019-12-24 03:13] quangvuptit opened #143 "Can I sync time from host to container?"
Because datetime in container is wrong

[2019-12-24 19:58] Mehonoshin opened #144 "Grafana 6 support"
Hey folks.
I try to use your cAdvisor dashboard at my Prometheus and Grafana setup, and it seems that it does not import dashboard properly.
Even when I change datasource for each panel, when I edit the panel it's settings do not contain query itself.

Not sure if the reason is in my grafana version.
Maybe you can give some hints how to troubleshoot it?

## Current Behaviour
![image](https://user-

[2019-12-24 20:05] Mehonoshin commented on #144
Update: it looks like it happens whenever there is no default datasource called `Prometheus`.
In my case it was not default, and the name was not capitalized.

Probably there is nothing to do with this issue, but maybe it can be mentioned in docs.

[2020-01-13 13:08] vegasbrianc commented on #28
I created a separate repo addressing this with Traefik - https://github.com/vegasbrianc/docker-traefik-prometheus

[2020-01-13 13:15] vegasbrianc commented on #143
Hi @quangvuptit I'm not sure which OS you are using. However, Docker has some known issues around this. Have a look at the last Known issue here and see if it addresses your issue. https://docs.docker.com/docker-for-mac/troubleshoot/#known-issues

[2020-01-13 13:15] #143 closed

[2020-01-13 13:16] vegasbrianc commented on #144
Hi @Mehonoshin Thanks for the update. I will update the docs accordingly.

[2020-01-13 13:16] #144 closed

[2020-01-18 23:04] athenawisdoms opened #147 "Running on a Small Serve with 1 GB RAM"
Dear all,

Is it reasonable to run this Docker Compose stack on a small server with 1 vCPU (2.3 GHz), 1 GB RAM and SSD from Digital Ocean?

Will be using this stack to monitor 3-5 hosts. If not, how can be adjust the settings of Prometheus/Grafana to make it fit such a server?

Thank you!

[2020-01-20 18:06] vegasbrianc commented on #147
Hi @athenawisdoms I have run similar configurations on 2x Raspberry PI’s. It should work fine just a bit slower when using Grafana

[2020-01-20 18:07] #147 closed

[2020-02-07 16:58] ayuved009 opened #148 "traefik service Replicas count 0"
Hello
I am trying to use Traefik yml. All the other services are up and running apart from traefik:v1.7.12-alpine. I am trying this on Ubunu 18.04. docker v 18.09.7  Please assist.
regards

[2020-02-08 08:04] vegasbrianc commented on #148
Hi @ayuved009 Can you post the errors you are getting?

[2020-02-11 20:10] vegasbrianc commented on #148
@ayuved009 Try my other repo which details how to use Traefik in more detail - https://github.com/vegasbrianc/docker-traefik-prometheus

[2020-02-11 20:10] #148 closed

[2020-02-14 11:24] nalmelune commented on #28
Since google still leads to this page on "grafana prometheus http error bad gateway" request, I'll post my solution here, even it was mentioned earlier in this discussion.
For `docker-compose` users: change `http://localhost:9090` to `http://prometheus:9090/`, even if you have 9090 port exposed. (`prometheus` must be the name of your prometheus instance in `docker-compose.yml`) It worked for me.

[2020-02-15 21:07] xh3b4sd opened #149 "Grafana Login Problems"
I cannot login to Grafana in my local setup. I tried using default credentials (admin/admin), custom credentials, different docker images from `grafana/grafana`. Note that I can access and use Prometheus just fine.

## Expected Behaviour

I expect to login into the Grafana dashboard.

## Current Behaviour

The Grafana login page is shown. When I enter credentials I only get errors like `Invalid us

[2020-02-27 10:55] vegasbrianc commented on #149
hi @xh3b4sd Sorry for the delayed response. I set the default user password as:
user - admin
pass - foobar

[2020-02-27 10:55] #149 closed

[2020-02-27 12:14] xh3b4sd commented on #149
How did you set it? I would expect the password I set myself to work, which it does not. As far as I am concerned the problem is not solved.

[2020-02-27 14:19] vegasbrianc commented on #149
Hi @xh3b4sd This is part of the auto-provisioning. You can set your own password here - https://github.com/vegasbrianc/prometheus/blob/master/grafana/config.monitoring

It is also documented here the process - https://github.com/vegasbrianc/prometheus#installation--configuration

Let me know if this helps

[2020-02-27 15:09] xh3b4sd commented on #149
The issue I am reporting is that exactly this does not work. See the screenshot of the issue description above.

---

<img width="696" alt="Screenshot 2020-02-27 at 16 08 45" src="https://user-images.githubusercontent.com/552769/75456944-7b239380-597b-11ea-971e-942deb8c8706.png">

I set a password and it does not work.

[2020-02-27 15:28] vegasbrianc commented on #149
@xh3b4sd I see. You should delete the Grafana volumes that were created during the first deploy. This is a weird way Grafana handles the config volume.

[2020-03-03 05:47] hsok85 opened #151 "using custom slack templates"
This is my alertmanager config file
[code]
I created tmpl file for making detail alert to our team.
this is that.
[code]
## Expected Behaviour
the template file will be applied

## Current Behaviour
It deosn't work

## Possible Solution
I really want it
Can I get some solution?

## Your Environment
Include as many relevant details about the environment you experienced the bug in
* Docker version `

[2020-03-23 18:00] ramuskay opened #152 "CPU of cadvisor too high"
When i deploy the stack with default values the cadvisor container had a CPU usage too high regards to regular containers. Maybe its' normal ?

## Expected Behaviour

I would expect that CPU usage was like other containers not that much

## Current Behaviour

Bellow the CPU taken by cadvisor container

![image](https://user-images.githubusercontent.com/32497525/77347243-d6a52f00-6d37-11ea-871c-807

[2020-04-23 08:01] juzza88 opened #153 "Doesnt work on windows."
hostname > docker stack deploy -c docker-stack.yml prom
docker : open docker-stack.yml: The system cannot find the file specified.

[2020-04-29 11:02] immortaly007 commented on #152
I'm experiencing the same issue (15% CPU usage here). What helped a bit was putting the `scrape_interval` for cadvisor to `15s` in `prometheus/prometheus.yml`:
[code]

But the CPU usage is still pretty high (~7%) so I opened an issue with cadvisor:
https://github.com/google/cadvisor/issues/2523

I hope they have tips and I will keep this ticket updated if they have interesting conclusions!

[2020-05-06 04:29] aspro-at commented on #152
I'm experiencing exactly the same.

[2020-05-06 18:09] frayos commented on #152
Thank you @immortaly007 !
-    scrape_interval: 5s
+    scrape_interval: 15s

The above helped !

[2020-05-07 13:57] immortaly007 commented on #152
Good to hear!
I managed to bring the CPU usage down further by modifying the "housekeeping interval" and disabling statistics that weren't needed by the default (and my current) grafana dashboard setup.

To do this, under the `cadvisor` part of the `docker-compose.yml` file, add:
[code]

[2020-05-08 13:50] aspro-at commented on #152
The above helped! Down from 20 % to below 7 % cpu usage. Thanks.

[2020-05-11 09:10] vivianforzj opened #154 "How prometheus reacts when commiting data failed in tsdb"
When prometheus commits data in tsdb, it tries to write data to WAL and in-memory buffer. But if commiting data fails, will it retry to commit the same data later? Or it just ignore the data?

Thanks for help.

[2020-05-12 09:46] #154 closed

[2020-05-12 09:59] vegasbrianc commented on #154
Just seeing this now @vivianforzj Did you find the answer to this? Could you post it here as well?

[2020-05-13 02:05] vivianforzj commented on #154
@vegasbrianc I have not found the answer. I did the wrong click on "close" button. Could you give the answer? Thanks.

[2020-05-22 08:04] #151 closed

[2020-06-29 08:11] vegasbrianc commented on #153
Hi @juzza88 I seemed to have missed this issue. Are you running Linux containers on Windows as this should work. According to the your error you mentioned it appears you are running the `docker stack deploy` command in a directory different from where the `docker-stack.yml` file is located

[2020-06-29 08:11] #153 closed

[2020-07-14 14:36] #152 closed

[2020-08-14 15:01] Pant opened #155 "Hostname instead of IP to identify nodes"
## Current Behaviour
While node-exporter runs in containers it fills some variables with the container IP (example `node_uname_info` has the `instance`  variable as the container's IP...)

Thus, everywhere, either in Grafana or in Prometheus I am getting each node by it's node-exporter's container IP. This way I cannot really know which machine I am getting info about.

### Example

For example sa

[2020-09-25 00:38] mmihir82 commented on #155
Getting error:
[code]

[2020-10-15 21:31] despossivel commented on #109
I have the same problem, I saw that there is a solution but I didn't understand how to solve it

[2020-12-01 01:30] #155 closed

[2021-02-01 15:24] avimanyu786 commented on #126
On Docker Compose, the solution to this issue is to add the `devices` configuration option:

[code]
It's no longer reported in the logs after I added this to my docker-compose file.

[2021-02-09 15:37] jellescheurwater opened #158 "isor"
Provide a general summary of the issue in the Title above

If you're describing a bug, tell us what should happen
If you're suggesting a change/improvement, tell us how it should work

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)
Provide a link to a live example, or steps to reproduce this bug. Include code to reproduce, if relevant:

1.
2.
3.

[2021-02-09 15:38] #158 closed

[2021-03-25 17:30] jesselee04 opened #159 "Grafana not pulling all data"
Provide a general summary of the issue in the Title above

If you're describing a bug, tell us what should happen
If you're suggesting a change/improvement, tell us how it should work

## Expected Behaviour
The grafana page to not display N/A or no data

## Current Behaviour
Only the upteim, alerts, targers online are working right now.
## Possible Solution
i changed refresh rate and tried playing

[2021-04-01 17:23] devmysoft opened #160 "traefik:v2.4.8"
## Expected Behaviour

Hi, is it possible to have your docker-traefik-stack.yml with traefik v2.4.8 ? And to support https ?

exemple :
`
    labels:
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-web.rule=Host(`${WEBSITE_SEO}`)||Host(`${WEBSITE_SEO_REDIRECT}`)"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-web.entrypoints=web"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-w

[2021-05-18 12:04] jdieguezbean opened #161 "iframe displays “refused to connect” for Grafana"
I am trying to embed Grafana in an iframe, I have tried adding ALLOW_EMBEDDING = true in the grafana.config.monitoring file

## Expected Behaviour
Show Grafana in iframe window

## Current Behaviour
![image](https://user-images.githubusercontent.com/26327410/118647683-4737c680-b7ea-11eb-965d-6bfe33e171c8.png)

## Possible Solution

##Environment
Docker version 20.10.6, build 370c289

##OS
Edition

[2021-05-22 12:29] warren-ru commented on #159
Same behavior.

[2021-05-29 04:11] jthop commented on #159
same here.. running on linux.  no data coming through.

[2021-06-08 06:31] vegasbrianc commented on #160
@devmysoft thanks for opening the issue. I am re-opening for review. My anxious bot closed it before I could get to it ;)

[2021-06-15 07:18] #160 closed

[2021-06-24 08:21] dacobi opened #162 "Prometheus docker image. Config file missing?"
Just installed Prometheus on my latest version unRAID server.

The install works fine, but when I try to start the image I get this error:

level=error ts=2021-06-24T08:19:53.581Z caller=main.go:355 msg="Error loading config (--config.file=/etc/prometheus/prometheus.yml)" err="open /etc/prometheus/prometheus.yml: no such file or directory"

[2021-06-29 14:08] PieterVanGool commented on #162
You can get it to work with the following config file:

prometheus.yml
`# my global config
global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.

  external_labels:
      monitor: 'my-project'

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrap

[2021-07-04 08:02] SebastianRzk opened #163 "Cadvisor is not working"
The cadvisor docker container does not start up.

Error message in log:

[code]
`docker ps`:
[code]

## Expected Behaviour

## Current Behaviour

## Possible Solution

The cadvisor image in docker hub is outdated (nearly 2 years old).

The [official cadvisor Readme ](https://github.com/google/cadvisor) suggests to use

`gcr.io/cadvisor/cadvisor` as docker image source. With the current image every

[2021-07-04 08:04] SebastianRzk commented on #163
Fix in pull request #164

[2021-07-04 08:05] SebastianRzk commented on #159
I think it is related to #163 , and should be fixed with #164

[2021-07-24 13:18] #161 closed

[2021-07-26 08:29] KRG-23 opened #165 "How to add Grafana plugin"
Hello,

I'd like to add a plugin for Grafana (https://github.com/neuralfraud/grafana-prtg) because I need Grafana to display graphs for our PRTG system alongside your Docker ressources monitoring.

As I'm new to Docker I feel I need to make changes elsewhere in your code but I can't figure out what to modify.

## Expected Behaviour
Add a secondary Datasource (PRTG)

## Current Behaviour
When modif

[2021-07-26 22:57] ducalpha commented on #163
I got the same issue, the cAvisor DockerHub says "DEPRECATED: New images will NOT be pushed. Please use gcr.io/cadvisor/cadvisor instead."

[2021-08-05 09:46] khopithan commented on #97
Hi all, When I add a rule file in a prometheus.yml, prometheus service will be stopped.

This is error log messages that I got

Aug  5 05:38:03 localhost prometheus: level=info ts=2021-08-05T09:38:03.562Z caller=main.go:842 msg="TSDB started"
Aug  5 05:38:03 localhost prometheus: level=info ts=2021-08-05T09:38:03.562Z caller=main.go:969 msg="Loading configuration file" filename=/usr/local/bin/prom

[2021-08-10 11:21] balajeek commented on #152
I recently setup cadvisor and prometheus and noticed 36% usage, when googled i ended up here, so i put in the command as you mentioned, after that cadvisor won't run, log shows a lot or lines, some that says error are:

  -alsologtostderr
    	log to standard error as well as files
  -logtostderr
    	log to standard error instead of files
  -stderrthreshold value
    	logs at or above this thresh

[2021-09-04 15:14] #162 closed

[2021-09-09 09:14] #159 closed

[2021-09-26 16:28] SebastianRzk commented on #163
Pull request has been merged :-)

[2021-09-26 16:28] #163 closed

[2021-09-30 02:39] Paladinhanxiao commented on #163
Error response from daemon: Get https://gcr.io/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)

i am in china

[2021-10-01 13:20] #165 closed

[2021-10-28 06:21] imfiqhan opened #167 "node-exporter container keeps running even after kill the container"
Can't stop node-exporter container
![image](https://user-images.githubusercontent.com/17647201/139197898-01af32c5-3bb9-4b89-9fda-c5cdfe08cccf.png)
## Steps to Reproduce
Provide a link to a live example, or steps to reproduce this bug. Include code to reproduce, if relevant:

1. Clone repository then run `docker-compose up -d`
2. Try kill all container using `docker kill $(docker ps -q)`
3. Contain

[2021-10-28 07:15] #167 closed, assigned to nobody

[2021-11-23 08:12] patsevanton opened #168 "panic: runtime error: slice bounds out of range"
docker version
[code]

Info about OS
[code]

**docker-compose up**
[code]

[2021-11-23 08:24] patsevanton commented on #168
Change image to prom/prometheus:v2.31.1 fixed issue

[2021-11-23 08:28] patsevanton commented on #168
But don`t have any data
![image](https://user-images.githubusercontent.com/10828883/142991329-301750dc-49e3-4dde-b819-b3b6afe635e9.png)

[2021-11-23 08:31] patsevanton commented on #168
node-exporter metrics:
[code]

[2021-12-14 12:00] vasu63devan opened #169 "CPU Usage and Memory usage data not fetching from the Prometheus serveron grafana dashboard"
We are using digital ocean Kubernetes cluster version 1.20.8-do.0. we are using prometheus, Influxdb and grafana for monitoring the namespace, pods, pod restarts, CPU and memory utilization. we are able to get the pod restarts and running pods events. but we are unable to get the CPU, Memory, utilization data. its showing no data.

## Expected Behaviour
CPU, Memory, utilization data has to be show

[2022-01-29 09:14] #168 closed

[2022-02-17 14:49] treyturner commented on #169
FWIW, I have reproduced this issue and am interested in a fix

[2022-02-20 16:49] RainNameless opened #170 "Why is this?"
root@debian:/apps/aaa/prometheus/grafana# docker ps
CONTAINER ID   IMAGE                      COMMAND                  CREATED          STATUS                    PORTS                                       NAMES
9af1da8c9a61   grafana/grafana            "/run.sh"                17 minutes ago   Up 17 minutes             0.0.0.0:3000->3000/tcp, :::3000->3000/tcp   prometheus_grafana_1
81c03866fe29

[2022-02-24 15:21] #169 closed

[2022-04-10 08:06] caokhang91 commented on #126
add more flag `privileged: true`

[2022-04-28 18:26] #170 closed

[2022-06-11 02:10] eeganlf opened #173 "Prometheus container keeps restarting"
Provide a general summary of the issue in the Title above

If you're describing a bug, tell us what should happen
If you're suggesting a change/improvement, tell us how it should work

## Expected Behaviour
Prometheus container to remain in running state

## Current Behaviour
Prometheus is constantly in restarting state
## Possible Solution
I'm at a loss

## Steps to Reproduce (for bugs)
Provide a

[2022-06-13 15:37] okapetanios opened #174 "Your tests are failing, per the README.md"
On the README.md it states your tests are failing. I wonder if this has to do with my previous issue that I filed about the Prometheus container constantly not starting.

[2022-06-16 07:23] th0mk commented on #173
Having the same issue, here are some logs from the prometheus container:

[code]

The issue is in "Received SIGTERM, exiting gracefully...".

It's somehow getting the signal to terminate, even though there are no health checks configured.

[2022-06-16 13:58] eeganlf commented on #173
In the docker-compose.yml file in the root directory of the project, change the Prometheus image to use the latest image:
[code]

A later version than the one on this repository may work that isn't the latest but I didn't try any others.

[2022-06-20 22:06] vegasbrianc commented on #174
@okapetanios  thanks for opening the issue. I will have a look and come back to you.

[2022-06-21 10:00] yamikarajput546 commented on #174
hey @vegasbrianc why Prometheus isn't able to take the config file , I've uncommented the config and passing the path there but it's not reflecting on targets

services:

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml

Config:
# my global config

[2022-06-21 22:21] vegasbrianc commented on #174
hi @yamikarajput546 I fixed several issues as it was failing for some older versions. Should be working now and the tests are also now passing. Thanks again

[2022-06-21 22:21] vegasbrianc commented on #173
@eeganlf I believe this is now resolved. Let me know if you find anything else.

[2022-06-22 09:14] zhangnew commented on #163
@gh0sthx I push gcr.io/cadvisor/cadvisor to https://hub.docker.com/r/zhangnew/cadvisor
you can use `docker pull zhangnew/cadvisor`

[2022-07-20 14:15] thopiekar opened #175 "Adding coverage test results in metrics"
When collecting code coverage reports via "publishCoverage" the results won't be passed to the test tab in BlueOcean.
I already tried to upload coverage reports with different plugins and it seems to be a convention that they won't appear in Jenkins as tests.
Long story short, I believe there is a convention behind this and it looks like we need to define additional metrics in our plugin here to m

[2022-08-27 23:16] #174 closed

[2022-08-27 23:17] #173 closed

[2022-09-03 19:18] daikk115 commented on #97
Hi @vegasbrianc , I know you have fixed your issue but just want to take some notes for others that in my case, I got the same problem by anothor root cause.

On testbed env, the default umask is 022, then the files permission in git repository which I clone from github is 644.
One production env, the default umask is 077, then the files permission in git repository which I **ALSO** clone from the

[2022-09-25 16:25] #175 closed

[2022-09-29 03:50] m986883511 opened #176 "can add a database?"
Provide a general summary of the issue in the Title above
Can you provide a guide on how to store prometheus data, I want to use influxdbto storage it, but i failed, prometheus can not remote write.

my error= prometheus   | ts=2022-09-29T02:58:54.551Z caller=dedupe.go:112 component=remote level=warn remote_name=7b049e url="http://influxdb:8086/api/v1/prom/write?db=prometheus&u=prometheus&p=prompa

[2022-10-10 14:32] MahmoodKamali opened #177 "Not showing some data"
I have added the dashboard to observe container statistics, however, some of them do not work and show a N/A message. I tried to modify it, but still, there is no data to be shown. For instance, Uptime, and Memory show nothing.

[2022-10-11 09:08] robert197 commented on #177
@MahmoodKamali

i was having similar issue

can you go into prometheus container with `docker-compose exec prometheus sh`
and then run `ping node-exporter`?

You should see something like:

[code]

If you are not seeing an IP like in the example above. Please check if your docker-compose prometheus service has "node-exporter" defined in links:

and also try to use the default network instead of th

[2022-10-11 09:42] MahmoodKamali commented on #177
Thanks for replying. From within the container, the Ip is reachable, however, no data could be got.

/prometheus $ ping node-exporter
PING node-exporter (172.26.0.2): 56 data bytes
ping: permission denied (are you root?)
/prometheus $

[2022-11-04 21:09] n1ckyrush commented on #177
Because you need to add `-u 0` to `docker-compose exec` to be able to run `ping`.

I had the same issue, the fix was easy, I changed `prometheus/prometheus.yml`.
I removed this piece:
[code]

and added (actually, uncommented) this piece:
[code]

I guess there is some issue with name resolving, so I just explicitly put cadvisor container name and its port.

[2022-11-07 06:56] shan-github-project commented on #47
i am setting ec2 instance as target inside Prometheus. so i configure ec2 instance as job inside prometheus.yml. but ec2 is not showing on prometheus as target. which is running on **http://localhost:9090/targets?search=**.
i have restarted prometheus several time with command kill -HUP <ps_id>.

The configuration of prometheus.yml
`# my global config
global:
  scrape_interval: 15s # Set the scrap

[2022-11-07 07:04] shan-github-project opened #178 "ec2 instnace is not showing on prometheus_UI when setting as target/job in prometheus .yml"
ec2 instnace is not showing on prometheus_UI when setting as target/job in prometheus .yml. i treid with restarting of promtheus with only keeping ec2 as target removing other jobs

http://localhost:9090/targets?search=

OS- ubuntu running on oracle VM VB

**prometheus.yml**
- job_name: 'ec2'
    ec2_sd_configs:
      - access_key: xxx
        secret_key: xxx
        region: us-east-2